n8n_files/playbooks/workflows/93R6cLPUn2sMJhsZ.json
{
  "id": "93R6cLPUn2sMJhsZ",
  "name": "ES-AI-RL & AI Analysis",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst data = $input.all();\n\n// Arrays for collected values\nlet sourceip = [];\nlet sensorip = [];\nlet destinationip = [];\nlet username = [];\nlet processname = [];\nlet filepath = [];\nlet rulename = [];\nlet xscList = [];\n\nfor (const item of data) {\n  \n  const doc = item.json['Original Rule']?.[0]?.json?.latest_doc?.hits?.hits?.[0]?._source;\n  if (!doc) continue;\n\n  // Extract fields\n  const sourceIp = doc?.source?.ip;\n  if (sourceIp) sourceip.push(sourceIp);\n\n  const sensorIp = doc?.sensor?.ip;\n  if (sensorIp) sensorip.push(sensorIp);\n\n  const destIp = doc?.destination?.ip;\n  if (destIp) destinationip.push(destIp);\n\n  const procName = doc?.process?.name;\n  if (procName && procName !== \"-\") processname.push(procName);\n\n  const filePath = doc?.file?.path;\n  if (filePath) filepath.push(filePath);\n\n  const ruleName = doc?.['kibana.alert.rule.name'];\n  if (ruleName) rulename.push(ruleName);\n\n  const userName = doc?.user?.name;\n  if (userName) username.push(userName);\n\n  // ---------------------------------------\n  // XSC PRIORITY LOGIC (updated as you asked)\n  // ---------------------------------------\n  const xforwarder = doc?.['x-forwarded-for'];  // priority 1\n  const clientIp = doc?.client?.ip;             // priority 3\n\n  let selectedXSC = null;\n\n  if (xforwarder) selectedXSC = xforwarder;     // 1st\n  else if (sourceIp) selectedXSC = sourceIp;    // 2nd (UPDATED)\n  else if (clientIp) selectedXSC = clientIp;    // 3rd\n\n  if (selectedXSC) xscList.push(selectedXSC);\n}\n\n// Join arrays\nconst SourceIP = sourceip.join(\", \");\nconst SensorIP = sensorip.join(\", \");\nconst DestinationIP = destinationip.join(\", \");\nconst UserName = username.join(\", \");\nconst ProcessName = processname.join(\", \");\nconst FilePath = filepath.join(\", \");\nconst RuleName = rulename.join(\", \");\nconst XSC = xscList.join(\", \");\n\n// Final output\nreturn [\n  {\n    json: {\n      SourceIP,\n      SensorIP,\n      ProcessName,\n      FilePath,\n      UserName,\n      DestinationIP,\n      RuleName,\n      XSC\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3904,
        -528
      ],
      "id": "37ecedce-5131-43e5-94df-b51b4ce3ded7",
      "name": "Extract Field in Alert"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e9f41b37-c872-4310-8ff8-8d55edb81670",
                    "leftValue": "={{ $('Extract Field in Alert').item.json.XSC }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "XSC"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Extract Field in Alert').item.json.SourceIP }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "83e394b1-074c-4e94-99d3-49c711d8570d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SourceIP"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "da033ba8-fef6-424c-acf7-e7fa4b392013",
                    "leftValue": "={{ $('Extract Field in Alert').item.json.ProcessName }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ProcessName"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "03681f65-b17f-4b4c-9089-6421b98393e0",
                    "leftValue": "={{  $('Extract Field in Alert').item.json.SensorIP }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "SensorIP"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "e74b7a62-11f6-4377-a648-6666daaed5a5",
                    "leftValue": "={{ $('Extract Field in Alert').item.json.FilePath }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "FilePath"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7ca03f7b-5621-42cf-b848-166c74331beb",
                    "leftValue": "={{ $('Extract Field in Alert').item.json.UserName }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "UserName"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "97494940-32ce-4b1d-a569-a95c52ddef6d",
                    "leftValue": "={{ $('Extract Field in Alert').item.json.DestinationIP }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "DestinationIP"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1d0b6c6b-97ca-40cf-9862-04c4f061cf0a",
                    "leftValue": "= $('Extract Field in Alert').item.json.RuleName }}",
                    "rightValue": "=",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Rule"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3424,
        -608
      ],
      "id": "53fbf6c7-7ec9-4ec2-a6f4-0b15314a12d1",
      "name": "Split to Search on Each Field"
    },
    {
      "parameters": {
        "url": "={{$vars.ES_Base_URL_Elastic}}/logs-*/_search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"size\": 0,\n  \"query\": {\n    \"bool\": {\n      \"filter\": [\n        {\n          \"multi_match\": {\n            \"query\": \"{{ $('Extract Field in Alert').first().json.SourceIP }}\",\n            \"fields\": [\"source.ip\", \"destination.ip\", \"client.ip\",\"server.ip\"]\n          }\n        },\n        {\n          \"range\": {\n            \"@timestamp\": {\n              \"gte\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['@timestamp'] }}||-24h\",\n              \"lte\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['@timestamp'] }}\"\n            }\n          }\n        },\n        {\n          \"term\": {\n            \"data_stream.namespace\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Original Rule'][0].json.latest_doc.hits.hits[0]._source.data_stream.namespace }}\"\n          }\n        }\n      ]\n    }\n  },\n  \"aggs\": {\n    \"source_ip\": {\n      \"terms\": {\n        \"field\": \"source.ip\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    },\n    \"destination_ip\": {\n      \"terms\": {\n        \"field\": \"destination.ip\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    },\n    \"client_ip\": {\n      \"terms\": {\n        \"field\": \"client.ip\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    },\n    \"server_ip\": {\n      \"terms\": {\n        \"field\": \"server.ip\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    }\n  }\n}\n",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2336,
        -1168
      ],
      "id": "545dec7f-0ae8-4c23-aacf-c956acb0e002",
      "name": "Find For Source IP",
      "credentials": {
        "httpBasicAuth": {
          "id": "Xa87cVsD8tKhDabu",
          "name": "Elastic"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$vars.ES_Base_URL_Elastic}}/logs-*/_search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"size\": 0,\n  \"query\": {\n    \"bool\": {\n      \"filter\": [\n        {\n          \"multi_match\": {\n            \"query\": \"{{ $('Extract Field in Alert').first().json.SensorIP }}\",\n            \"fields\": [\"source.ip\", \"destination.ip\", \"client.ip\",\"server.ip\"]\n          }\n        },\n        {\n          \"range\": {\n            \"@timestamp\": {\n              \"gte\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['@timestamp'] }}||-24h\",\n              \"lte\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['@timestamp'] }}\"\n            }\n          }\n        },\n        {\n          \"term\": {\n            \"data_stream.namespace\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Original Rule'][0].json.latest_doc.hits.hits[0]._source.data_stream.namespace }}\"\n          }\n        }\n      ]\n    }\n  },\n  \"aggs\": {\n    \"source_ip\": {\n      \"terms\": {\n        \"field\": \"source.ip\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    },\n    \"destination_ip\": {\n      \"terms\": {\n        \"field\": \"destination.ip\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    },\n    \"client_ip\": {\n      \"terms\": {\n        \"field\": \"client.ip\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}} \n          }\n        }\n      }\n    },\n    \"server_ip\": {\n      \"terms\": {\n        \"field\": \"server.ip\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    }\n  }\n}\n",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2336,
        -1024
      ],
      "id": "4e2155d1-4160-409c-b0f3-42474aa70460",
      "name": "Find For Sensor IP",
      "credentials": {
        "httpBasicAuth": {
          "id": "Xa87cVsD8tKhDabu",
          "name": "Elastic"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$vars.ES_Base_URL_Elastic}}/logs-*/_search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"size\": 0,\n  \"query\": {\n    \"bool\": {\n      \"filter\": [\n        {\n          \"multi_match\": {\n            \"query\": \"{{ $json.EscapedFilePath }}\",\n            \"fields\": [\"file.path\", \"file.directory\"]\n          }\n        },\n        {\n          \"range\": {\n            \"@timestamp\": {\n              \"gte\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['@timestamp'] }}||-24h\",\n              \"lte\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['@timestamp'] }}\"\n            }\n          }\n        },\n        {\n          \"term\": {\n            \"data_stream.namespace\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Original Rule'][0].json.latest_doc.hits.hits[0]._source.data_stream.namespace }}\"\n          }\n        }\n      ]\n    }\n  },\n  \"aggs\": {\n    \"file_path\": {\n      \"terms\": {\n        \"field\": \"file.path\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    },\n    \"file_directory\": {\n      \"terms\": {\n        \"field\": \"file.directory\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    }\n  }\n}\n",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2304,
        -352
      ],
      "id": "5bc51634-cbc3-445d-a9c1-150bb4de463b",
      "name": "Find For FilePath",
      "credentials": {
        "httpBasicAuth": {
          "id": "Xa87cVsD8tKhDabu",
          "name": "Elastic"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$vars.ES_Base_URL_Elastic}}/logs-*/_search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"size\": 0,\n  \"query\": {\n    \"bool\": {\n      \"filter\": [\n        {\n          \"multi_match\": {\n            \"query\": \"{{ $('Extract Field in Alert').item.json.UserName }}\",\n            \"fields\": [\"user.name\", \"target.user.name\"]\n          }\n        },\n        {\n          \"range\": {\n            \"@timestamp\": {\n              \"gte\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['@timestamp'] }}||-24h\",\n              \"lte\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['@timestamp'] }}\"\n            }\n          }\n        },\n        {\n          \"term\": {\n            \"data_stream.namespace\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Original Rule'][0].json.latest_doc.hits.hits[0]._source.data_stream.namespace }}\"\n          }\n        }\n      ]\n    }\n  },\n  \"aggs\": {\n    \"user_name\": {\n      \"terms\": {\n        \"field\": \"user.name\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    },\n    \"target_user_name\": {\n      \"terms\": {\n        \"field\": \"target.user.name\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    }\n  }\n}\n",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2304,
        -48
      ],
      "id": "7269c72f-ab2e-4abc-9a7e-5511ff7d254a",
      "name": "Find For UserName",
      "credentials": {
        "httpBasicAuth": {
          "id": "Xa87cVsD8tKhDabu",
          "name": "Elastic"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$vars.ES_Base_URL_Elastic}}/logs-*/_search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"size\": 0,\n  \"query\": {\n    \"bool\": {\n      \"filter\": [\n        {\n          \"multi_match\": {\n            \"query\": \"{{ $('Extract Field in Alert').item.json.DestinationIP }}\",\n            \"fields\": [\"source.ip\", \"destination.ip\", \"client.ip\",\"server.ip\"]\n          }\n        },\n        {\n          \"range\": {\n            \"@timestamp\": {\n              \"gte\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['@timestamp'] }}||-24h\",\n              \"lte\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['@timestamp'] }}\"\n            }\n          }\n        },\n        {\n          \"term\": {\n            \"data_stream.namespace\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Original Rule'][0].json.latest_doc.hits.hits[0]._source.data_stream.namespace }}\"\n          }\n        }\n      ]\n    }\n  },\n  \"aggs\": {\n    \"source_ip\": {\n      \"terms\": {\n        \"field\": \"source.ip\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    },\n    \"destination_ip\": {\n      \"terms\": {\n        \"field\": \"destination.ip\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    },\n    \"client_ip\": {\n      \"terms\": {\n        \"field\": \"client.ip\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    },\n    \"server_ip\": {\n      \"terms\": {\n        \"field\": \"server.ip\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    }\n  }\n}\n",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2304,
        64
      ],
      "id": "e5bde842-c3d0-4409-8958-db81ae6ffec5",
      "name": "Find For Destination IP",
      "credentials": {
        "httpBasicAuth": {
          "id": "Xa87cVsD8tKhDabu",
          "name": "Elastic"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$vars.ES_Base_URL_Elastic}}/logs-*/_search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"size\": 0,\n  \"query\": {\n    \"bool\": {\n      \"filter\": [\n        {\n          \"multi_match\": {\n            \"query\": \"{{ $('Extract Field in Alert').item.json.ProcessName }}\",\n            \"fields\": [\"process.name\", \"process.parent.name\"]\n          }\n        },\n        {\n          \"range\": {\n            \"@timestamp\": {\n              \"gte\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['@timestamp'] }}||-24h\",\n              \"lte\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['@timestamp'] }}\"\n            }\n          }\n        },\n        {\n          \"term\": {\n            \"data_stream.namespace\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Original Rule'][0].json.latest_doc.hits.hits[0]._source.data_stream.namespace }}\"\n          }\n        }\n      ]\n    }\n  },\n  \"aggs\": {\n    \"processes\": {\n      \"terms\": {\n        \"field\": \"process.name\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    },\n    \"parent_processes\": {\n      \"terms\": {\n        \"field\": \"process.parent.name\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    }\n  }\n}\n",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2320,
        -672
      ],
      "id": "7600d334-213a-41cc-a1b8-cc5a30966ebe",
      "name": "Find For ProcessName",
      "credentials": {
        "httpBasicAuth": {
          "id": "Xa87cVsD8tKhDabu",
          "name": "Elastic"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const filepath =$('Extract Field in Alert').first().json.FilePath ;\n\nfunction escapeFilePathForJSON(filePath) {\n    return filePath.replace(/\\\\/g, \"\\\\\\\\\");\n}\n\n// Escape the file path\nconst escapedFilePath = escapeFilePathForJSON(filepath);\n\n// Return an array of objects (n8n expected format)\nreturn [{ json: { EscapedFilePath: escapedFilePath } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3120,
        -528
      ],
      "id": "253da8a4-f4f8-415b-9965-8b59aab86cb6",
      "name": "Normalize file path"
    },
    {
      "parameters": {
        "url": "={{$vars.SA_API_Base_URL}}/api/v1/ai/final_alert_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "= Bearer  {{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Access Token'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"alert\": {{ $('Clean Original Rule ').first().json.CleanOriginalRule.toJsonString() }},\n    \"related_analysis\": {{ $json.result.toJsonString()}}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        528,
        -592
      ],
      "id": "1e5c51e8-a4ae-483a-a380-2ead468712dd",
      "name": "AI analysis(RL Info)",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -4128,
        -528
      ],
      "id": "78ffcd4a-182d-485e-a173-86cb29bbb8d0",
      "name": "Called by ES-AI-5A-Create Time line & Check"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1e4db11-8944-403b-a757-a8e1ff7de4cb",
              "name": "RL_SourceIP",
              "value": "={{ $json.aggregations }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2112,
        -1168
      ],
      "id": "d6557dd9-e4ea-49e6-b820-c00dd578af9a",
      "name": "RL_SourceIP"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "88b2875e-9e1f-4d80-acc6-c0528b289001",
              "name": "RL_SensorIP",
              "value": "={{ $json.aggregations }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2112,
        -1008
      ],
      "id": "7bedd30e-19b5-4ded-b099-f16e2fd70b49",
      "name": "RL_SensorIP"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "67051f8c-c04c-40eb-a4fd-1d952c5bb318",
              "name": "RL_ProcessName",
              "value": "={{ $json.aggregations }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2096,
        -768
      ],
      "id": "ac8331cb-d0b9-4699-bb48-f5b936f390a3",
      "name": "RL_ProcessName"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8e5f67b2-504d-4742-9166-f08ea083a4b5",
              "name": "RL_FilePath",
              "value": "={{ $json.aggregations }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2064,
        -448
      ],
      "id": "e627507a-42cc-4471-b34e-3dde1405d6a8",
      "name": "RL_FilePath"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b38a4e5a-2d64-4c5e-8b15-7cf01a1b4745",
              "name": "RL_UserName",
              "value": "={{ $json.aggregations }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2064,
        -128
      ],
      "id": "91735a49-0b9c-4fb2-97bf-51dfdb4a4010",
      "name": "RL_UserName"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ed8ecbd9-7483-4f5d-be00-b67169ff952d",
              "name": "RL_DestinationIP",
              "value": "={{ $json.aggregations }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2080,
        64
      ],
      "id": "ac38165e-a641-4a69-a044-56d399877b07",
      "name": "RL_DestinationIP"
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst inputs = $input.all();\n\n// Define the fields you want to check\nconst fields = [\n  'Related_Analysis_SensorIP',\n  'Related_Analysis_ProcessName',\n  'Related_Analysis_FilePath',\n  'Related_Analysis_UserName',\n  'Related_Analysis_RuleEvents',\n  'Related_Analysis_SourceIP',\n  'Related_Analysis_XSC',\n  'Related_Analysis_DestinationIP'\n];\n\n// Use a Set to avoid duplicates\nconst resultList = [];\n\nfor (const item of inputs) {\n  const data = item.json\n  const reference = data[\"reference\"];\n  const timeline = data[\"timeline\"];\n  const type = data[\"name\"]\n  const analysis = data[\"analysis\"]\n  if (analysis !== undefined && analysis !== null && analysis !== '') {\n    resultList.push({\n      type: type,\n      analysis: analysis,\n      reference: reference,\n      timeline: timeline\n      \n    });\n  }\n  \n}\n\n// Return a single item containing the full list\nreturn [\n  {\n    json: {\n      result: resultList\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        304,
        -592
      ],
      "id": "80cf6a35-e3e3-425e-a516-40ba0f5133bd",
      "name": "Extract Required fields"
    },
    {
      "parameters": {
        "numberInputs": 8
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        32,
        -672
      ],
      "id": "b7fe80ea-f986-40f7-a867-51cb317c6a7d",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['kibana.alert.rule.category'] }}",
                    "rightValue": "Event Correlation Rule",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9f20880f-73ad-4564-96f0-89dc57fb3098"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "EQL"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5ba3de7b-0729-4a39-9916-f5acae3b65fb",
                    "leftValue": "={{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['kibana.alert.rule.category'] }}",
                    "rightValue": "Custom Query Rule",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "KQL or Lucene"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b42db9bd-61b6-4868-8e4d-3b63f7e92ce8",
                    "leftValue": "={{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['kibana.alert.rule.category'] }}",
                    "rightValue": "Threshold Rule",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Threshold"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8039c375-768c-411b-838f-b5130d86ed4a",
                    "leftValue": "={{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['kibana.alert.rule.category'] }}",
                    "rightValue": "Machine Learning Rule",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ML"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "59fcc032-5788-47c6-9ca2-db4b0a6952fd",
                    "leftValue": "={{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['kibana.alert.rule.category'] }}",
                    "rightValue": "New Terms Rule",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TermsRule"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "551da28d-61ef-4b38-a37c-b0714f04fbba",
                    "leftValue": "={{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['kibana.alert.rule.category'] }}",
                    "rightValue": " Indicator Match Rule",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Indicator"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7461153e-b40c-4906-970c-75bf5c3e6d87",
                    "leftValue": "={{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['kibana.alert.rule.category'] }}",
                    "rightValue": " ES|QL Rule",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "ES|QL"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -2688,
        624
      ],
      "id": "69eca27b-0bb8-403e-b8e9-88fa9a2add4e",
      "name": "Rule Type"
    },
    {
      "parameters": {
        "url": "={{$vars.ES_Base_URL_Elastic}}/{{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['kibana.alert.ancestors'][0].index }}/_eql/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/x-ndjson",
        "body": "={\n  \"query\": \"{{ $json.cleanedQuery }}\",\n  \"filter\": {\n    \"bool\": {\n      \"must\": [\n        {\n          \"range\": {\n            \"@timestamp\": {\n              \"gte\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['kibana.alert.rule.execution.timestamp'] }}||-30m\",\n              \"lte\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['kibana.alert.rule.execution.timestamp'] }}\"\n            }\n          }\n        },\n        {\n          \"term\": {\n            \"data_stream.namespace\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Original Rule'][0].json.latest_doc.hits.hits[0]._source.data_stream.namespace }}\"\n          }\n        }\n      ]\n    }\n  },\n  \"size\": {{ $vars.ES_EQL_Query_Result_Size }}\n}\n",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2208,
        368
      ],
      "id": "e223b134-8041-489b-bd17-cc33afda2983",
      "name": "Find For EQL Rules",
      "credentials": {
        "httpBasicAuth": {
          "id": "Xa87cVsD8tKhDabu",
          "name": "Elastic"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "url": "={{$vars.ES_Base_URL_Elastic}}/{{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['kibana.alert.ancestors'][0].index }}/_search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": {\n    \"bool\": {\n      \"must\": [\n        {{ $json.query.toJsonString() }},\n        {\n          \"term\": {\n            \"data_stream.namespace\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Original Rule'][0].json.latest_doc.hits.hits[0]._source.data_stream.namespace }}\"\n          }\n        }\n      ]\n    }\n  },\n  \"size\": {{ $vars.ES_KQL_Query_Result_Size }},\n  \"sort\": [\n    {{ $json.sort[0].toJsonString() }}\n  ]\n}\n",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1968,
        768
      ],
      "id": "9d01d963-d8bc-46cd-88f4-24e72c341e2b",
      "name": "Find For KQL or Lucene",
      "credentials": {
        "httpBasicAuth": {
          "id": "Xa87cVsD8tKhDabu",
          "name": "Elastic"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Function to clean up the query, remove comments, and handle special characters correctly\nfunction cleanQuery(eqlQuery) {\n  // Remove comments from the query\n  const noCommentsQuery = eqlQuery.replace(/\\/\\*[\\s\\S]*?\\*\\//g, '').trim();\n  \n  // Escape necessary characters in JSON\n  const escapedQuery = noCommentsQuery\n    .replace(/\\\\/g, '\\\\\\\\')  // Escape backslashes with a double backslash\n    .replace(/\"/g, '\\\\\"')    // Escape double quotes with a backslash\n    .replace(/\\n/g, '\\\\n')   // Escape newlines\n    .replace(/\\r/g, '\\\\r')   // Escape carriage returns\n    .replace(/\\t/g, '\\\\t')   // Escape tab characters\n    .replace(/[^\\x20-\\x7E]/g, ''); // Remove any non-ASCII printable characters (could be problematic)\n\n  return escapedQuery;\n}\n\n// Get the input query from n8n (adjust this according to your actual query extraction)\nconst inputQuery = $('Called by ES-AI-5A-Create Time line & Check').first().json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['kibana.alert.rule.parameters'].query;\n\n// Clean the query by removing comments and escaping special characters\nconst cleanedQuery = cleanQuery(inputQuery);\n\n// Return the cleaned query in the desired format for your request\nreturn [{ cleanedQuery }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2384,
        368
      ],
      "id": "33f67450-56d6-47dd-b799-399999be2059",
      "name": "Normalize file path1"
    },
    {
      "parameters": {
        "jsCode": "// Helper: Safe get nested value\nfunction safeGet(obj, path) {\n    return path.reduce((acc, key) => acc && acc[key], obj);\n}\n\n// Helper: Escape Lucene special characters\nfunction escapeLucene(str) {\n    return str.replace(/([+\\-=&|><!(){}\\[\\]^\"~*?:\\\\/])/g, '\\\\$1');\n}\n\n// Extract data from jQuery expression\nconst ruleData = $('Called by ES-AI-5A-Create Time line & Check').first().json;\nconst originalRule = ruleData?.['Original Rule']?.[0]?.json?.latest_doc?.hits?.hits?.[0]?._source?.['kibana.alert.rule.parameters'];\n\nconst filters = originalRule?.filters;\nconst queryString = originalRule?.query;\nconst executionTimestamp = safeGet(ruleData, ['Original Rule', 0, 'json', 'latest_doc', 'hits', 'hits', 0, '_source', 'kibana.alert.rule.execution.timestamp']);\nconst ruleInterval = safeGet(ruleData, ['Original Rule', 0, 'json', 'latest_doc', 'hits', 'hits', 0, '_source', 'kibana.alert.rule.interval']);\n\n// Debug logs\nconsole.log(\"filters:\", filters);\nconsole.log(\"queryString:\", queryString);\nconsole.log(\"executionTimestamp:\", executionTimestamp);\nconsole.log(\"ruleInterval:\", ruleInterval);\n\n// Define the extractQueries function\nfunction extractQueries(filters) {\n    let must = [];\n    let must_not = [];\n\n    if (!Array.isArray(filters)) {\n        throw new Error(\"filters is not an array or is undefined\");\n    }\n\n    filters.forEach(filter => {\n        if (filter.query.match_phrase) {\n            if (filter.meta.negate === true) {\n                must_not.push({ match: filter.query.match_phrase });\n            } else {\n                must.push({ match: filter.query.match_phrase });\n            }\n        } else if (filter.query.exists) {\n            must.push({ exists: filter.query.exists });\n        }\n    });\n\n    return { must, must_not };\n}\n\n// Now try to extract queries\nconst { must, must_not } = extractQueries(filters || []); // Fallback to empty array\n\nlet formattedQuery = {};\n\nif (queryString) {\n    formattedQuery.query_string = {\n        query: escapeLucene(queryString), // ✨ FIXED HERE\n        default_field: \"*\"\n    };\n    must.unshift({ query_string: formattedQuery.query_string });\n}\n\n// Add timestamp range\nmust.push({\n    range: {\n        \"@timestamp\": {\n            \"gte\": `${executionTimestamp}||-${ruleInterval}`,\n            \"lte\": `${executionTimestamp}`\n        }\n    }\n});\n\nconst esQuery = {\n    query: {\n        bool: {\n            must,\n            must_not\n        }\n    },\n    size: 10,\n    sort: [\n        { \"@timestamp\": { \"order\": \"desc\" } }\n    ]\n};\n\nreturn [{ json: esQuery }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2240,
        768
      ],
      "id": "2f2b7a5f-b2f1-40c7-a64b-98b5bd3066fd",
      "name": "Generate KQL or Lucene Query"
    },
    {
      "parameters": {
        "jsCode": "// Get the sequences array from the input\nlet sequences = $input.first().json.hits.sequences;\n\n// Initialize the EVENTS array to collect all events\nlet EVENTS = [];\n\n// If the length of sequences is more than 5, return only 1 event per sequence\nif (sequences.length > 5) {\n    sequences = sequences.map(sequence => {\n        let selectedEvents = sequence.events ? sequence.events.slice(0, 1) : []; // Select only 1 event per sequence\n        EVENTS = EVENTS.concat(selectedEvents); // Merge selected events into EVENTS array\n        return {\n            ...sequence, // Spread the sequence properties\n            events: selectedEvents // Only keep the first event from each sequence\n        };\n    });\n} else {\n    // If the length of sequences is less than or equal to 5, collect up to 5 events from each sequence\n    sequences = sequences.map(sequence => {\n        let selectedEvents = sequence.events ? sequence.events.slice(0, 1) : []; // Select up to 5 events per sequence\n        EVENTS = EVENTS.concat(selectedEvents); // Merge selected events into EVENTS array\n        return {\n            ...sequence, // Spread the sequence properties\n            events: selectedEvents // Keep up to 5 events from each sequence\n        };\n    });\n}\n\n// Return the modified sequences array along with the EVENTS array\nreturn [\n    { json: { EVENTS } }  // Include the EVENTS array in the output\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1568,
        320
      ],
      "id": "38a68827-2f4a-43cc-aa38-f761a2ec5019",
      "name": "Limitation"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1328,
        448
      ],
      "id": "2d69c025-4c11-4e79-beb2-3bab7d83aa18",
      "name": "Merge1"
    },
    {
      "parameters": {
        "jsCode": "// Get the input data\nconst data = $input.first().json;\n\n// Initialize the MERGE array\nlet MERGE = [];\n\n// Check if hits.hits exists and is an array\nif (Array.isArray(data?.hits?.hits)) {\n  MERGE = MERGE.concat(data.hits.hits);\n}\n\n// Check if hits.events exists and is an array\nif (Array.isArray(data?.hits?.events)) {\n  MERGE = MERGE.concat(data.hits.events);\n}\n\n// Return a single item with the MERGE array\nreturn [\n  {\n    json: {\n      MERGE: MERGE\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1104,
        464
      ],
      "id": "146fca65-7116-45a9-a692-19bcc19ac401",
      "name": "Merge Events"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4478a30b-45ec-4bfc-aeec-b5603a8c7ea4",
              "name": "RL_RuleEvents",
              "value": "={{ $json.MERGE }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -944,
        464
      ],
      "id": "817037cb-5d85-47fb-b1c9-e449e388ead6",
      "name": "RL_RuleEvents"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b4cece7f-46e6-4a6a-bf45-8d0c6074e2d0",
              "name": "5th AI Result",
              "value": "={{ $('AI analysis(RL Info)').first().json.data }}",
              "type": "array"
            },
            {
              "id": "77d5bd2b-ba39-4e0f-bc0c-d0bead9424a7",
              "name": "Create TimeLine",
              "value": "={{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Create TimeLine'] }}",
              "type": "string"
            },
            {
              "id": "408a8be8-ddc3-414c-9b48-17f36bc9ca6c",
              "name": "Alert Timestamp",
              "value": "={{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['@timestamp'] }}",
              "type": "string"
            },
            {
              "id": "ebc832f4-9821-4fd2-9ae0-19f9a1e14bff",
              "name": "TI IP result",
              "value": "={{ $('Check for existence').first().json.tiIpResult }}",
              "type": "string"
            },
            {
              "id": "1e59a547-41ad-486c-8c20-8a61906109e5",
              "name": "EI IP result",
              "value": "={{ $('Check for existence').first().json.eiIpResult }}",
              "type": "string"
            },
            {
              "id": "db9e9b34-f95e-45b6-8109-4d9501c136a7",
              "name": "EI Process result",
              "value": "={{ $('Check for existence').first().json.eiProcessResult }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3360,
        -624
      ],
      "id": "1d133b88-c37c-4b2b-9912-967c7d173a29",
      "name": "Collect Required Items",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "42f9d4a7-779e-4496-8e50-3132912b49eb",
              "leftValue": "={{ $json.hits }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1776,
        352
      ],
      "id": "d732f5a2-70df-4baa-bee2-9d06a197e97f",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d3cc17f2-b4b0-4a01-80e6-6be20329688f",
              "leftValue": "={{ $json.data[0].extraEvidence }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "d9798321-64ca-469c-903a-57a298b82942",
              "leftValue": "={{ $json.data[0].extraEvidence }}",
              "rightValue": "None",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7ac6ad1d-9699-4e3c-a04a-e7fcad1c2d40",
              "leftValue": "={{ $json.data[0].extraEvidence }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1008,
        -592
      ],
      "id": "c9ed21b6-c27c-4d6f-bdb8-2e18b9df94cb",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// Get the input value from the previous node\nconst input = $input.first().json.data[0].extraEvidence;\n\n// Remove the \"Extra Evidences:\" part from the input\nconst cleanedInput = input.replace(/Extra Evidences?:\\s*/, '');\n\n// Regular expression to match key-value pairs in the format \"Key: Value\"\n// Allow the key to contain multiple words (e.g., \"IP\"), and allow the value to include any characters until a comma or end of string\nconst regex = /(\\w+):\\s([^,]+)/g;\nlet matches;\nlet result = {};\nlet counters = {};  // Object to track the counters for each key\n\n// Loop through all matches and store them in the result object\nwhile ((matches = regex.exec(cleanedInput)) !== null) {\n  const key = matches[1].toLowerCase();  // Make the key lowercase\n  let value = matches[2].trim();         // Get the value and trim any extra spaces\n\n  // Remove any text inside parentheses and the parentheses themselves from the value\n  value = value.replace(/\\s*\\(.*?\\)\\s*/, '');\n\n  // If the key is \"ip\", check if the value is a valid IP address\n  if (key === 'ip') {\n    const ipRegex = /^(25[0-5]|2[0-4]\\d|1\\d{2}|[1-9]?\\d)(\\.(25[0-5]|2[0-4]\\d|1\\d{2}|[1-9]?\\d)){3}$/;\n    if (!ipRegex.test(value)) {\n      continue; // Skip invalid IP values\n    }\n  }\n\n  // If the key doesn't exist in the result object, initialize it as an empty array\n  if (!result[key]) {\n    result[key] = [];\n  }\n\n  // Add the cleaned value to the corresponding key's array\n  result[key].push(value);\n}\n\n// Returning the result object\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ],
      "id": "c8ac126b-07b3-4c1a-9e61-1833ec02172b",
      "name": "Seprate Extra Evidences"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ip }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "44927994-377a-4cbe-ac3f-ba9998912b4d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IP"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b4188cd0-fde0-450c-88b8-fb6f786bbbbb",
                    "leftValue": "={{ $json.host }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Host"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0808e582-f3df-46f1-8bf2-b7acea8854ec",
                    "leftValue": "={{ $json.process }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Process"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        928,
        0
      ],
      "id": "a9da8db0-41d2-4735-9804-c58beb328156",
      "name": "Switch",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "100e2a45-c348-4031-9ce3-5e469673f290",
              "name": "ip",
              "value": "={{ $json.ip }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        -304
      ],
      "id": "6de3ce5a-e38f-4f71-87a6-9e2507d0297d",
      "name": "IP"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d84cacdf-829a-441d-955e-13c3653a62b3",
              "name": "process",
              "value": "={{ $json.process }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        304
      ],
      "id": "37fca1d5-26a0-48a5-af46-d8436afde908",
      "name": "process"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "157e49a7-40d8-4b0a-beb4-322b9d025a47",
              "name": "host",
              "value": "={{ $json.host }}",
              "type": "array"
            },
            {
              "id": "af3e9c2a-33a5-4cd4-b690-8e6673f0a77b",
              "name": "Access Token",
              "value": "={{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Access Token'] }}",
              "type": "string"
            },
            {
              "id": "55ed47fb-1b58-48ac-8400-38d0c2521a20",
              "name": "Summery",
              "value": "={{ $('AI analysis(RL Info)').item.json.data[0].detailsMarkdown }}",
              "type": "string"
            },
            {
              "id": "960fdfda-848d-4406-98f3-7da8b3afd894",
              "name": "Original Rule",
              "value": "={{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Original Rule'] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1920,
        32
      ],
      "id": "9127008f-d5dc-4725-8ab3-eb741c1b2c90",
      "name": "Host"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "M0x1cGAodQU2slha",
          "mode": "list",
          "cachedResultUrl": "/workflow/M0x1cGAodQU2slha",
          "cachedResultName": "ES — ES-AI-TI & AI Summary"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2320,
        -448
      ],
      "id": "d36d89de-6b3c-46ba-ae51-f1389bd91eb2",
      "name": "Called ES-AI-TI & AI Summary"
    },
    {
      "parameters": {
        "jsCode": "// Get the array of IPs from the input\nconst ips = $input.first().json.ip;\n\n// Function to determine if an IP is public\nfunction isPublicIp(ip) {\n  const privateIpRanges = [\n    /^10\\./,\n    /^172\\.(1[6-9]|2[0-9]|3[0-1])\\./,\n    /^192\\.168\\./,\n    /^127\\./,\n    /^169\\.254\\./,\n  ];\n  return !privateIpRanges.some(range => range.test(ip));\n}\n\n// Separate IPs into public and private\nconst PublicIPs = [];\nconst PrivateIPs = [];\n\nfor (const ip of ips) {\n  if (isPublicIp(ip)) {\n    PublicIPs.push(ip);\n  } else {\n    PrivateIPs.push(ip);\n  }\n}\n\n// Return the result\nreturn [\n  {\n    json: {\n      PublicIPs,\n      PrivateIPs,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1472,
        -304
      ],
      "id": "5443d195-8c52-4aa3-ad51-0d0bbfc39b31",
      "name": "Extract Public & Private IPs"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.PublicIPs }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "0feb9f7c-1148-4cce-a31d-0682f65f9f16"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Public IP"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5984806b-0fd5-4694-80b5-6d5f288f3284",
                    "leftValue": "={{ $json.PrivateIPs }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Private IP"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1744,
        -304
      ],
      "id": "c08b8d9d-1e36-43f1-bcd8-99447608d262",
      "name": "Divided Public & Private IPs "
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e1112f5-3aed-437e-80c6-40fc75463a65",
              "name": "PublicIPs",
              "value": "={{ $json.PublicIPs }}",
              "type": "array"
            },
            {
              "id": "502c8c28-0198-497f-8050-dc701a716a8c",
              "name": "Access Token",
              "value": "={{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Access Token'] }}",
              "type": "string"
            },
            {
              "id": "02ad0555-9d53-4608-9626-b9a880ff08b8",
              "name": "Original Rule",
              "value": "={{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Original Rule'] }}",
              "type": "array"
            },
            {
              "id": "5cad53ed-7fc2-44cf-9901-8c4156aac423",
              "name": "Summery",
              "value": "={{ $('AI analysis(RL Info)').item.json.data[0].detailsMarkdown }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2032,
        -448
      ],
      "id": "b5c8bfa0-6c68-4fa3-b79c-e651e6f25fe7",
      "name": "Public IP"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfe09a77-e7ab-46d0-92b8-80b29562975e",
              "name": "PrivateIPs",
              "value": "={{ $json.PrivateIPs }}",
              "type": "array"
            },
            {
              "id": "10511c69-3f9a-4d75-bf2c-4f2a4f46be40",
              "name": "Access Token",
              "value": "={{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Access Token'] }}",
              "type": "string"
            },
            {
              "id": "c5e7178b-52fd-468c-8ac6-6dea81b5750e",
              "name": "PublicIPs",
              "value": "={{ $json.PublicIPs }}",
              "type": "array"
            },
            {
              "id": "a7a93edc-838a-4e25-b7e0-0897dbb94a1d",
              "name": "Access Token",
              "value": "={{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Access Token'] }}",
              "type": "string"
            },
            {
              "id": "19d999a0-b8bd-4ca5-a52c-c34adadd6df6",
              "name": "Summery",
              "value": "={{ $('AI analysis(RL Info)').item.json.data[0].detailsMarkdown }}",
              "type": "string"
            },
            {
              "id": "1521b54b-9d72-4fe5-814a-96d552370f13",
              "name": "Original Rule",
              "value": "={{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Original Rule'] }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2000,
        -144
      ],
      "id": "199d3e63-f102-41d8-b9d6-49537d7fedbc",
      "name": "Private IP"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2288,
        16
      ],
      "id": "460ff7ea-5580-4a6f-a905-49b940f116d7",
      "name": "Merge2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2864,
        -128
      ],
      "id": "46d9f674-9c3f-43a0-80b2-6d44414a615b",
      "name": "Merge3"
    },
    {
      "parameters": {
        "jsCode": "// Get all inputs\nconst input = $input.all();\n\n// Initialize an empty result object\nlet result = {};\n\n// Loop through all the input objects\ninput.forEach(item => {\n  // Check if \"EI IP result\" exists and add it to the result object\n  if (item.json['EI Extra Evidence Result'] !== undefined && item.json['EI Extra Evidence Result'] !== null) {\n    result.EIExtraEvidenceResult = item.json['EI Extra Evidence Result'];\n  }\n\n\n  // Check if \"TI IP Result \" exists and add it to the result object\n  if (item.json['TI IP Result '] !== undefined && item.json['TI IP Result '] !== null) {\n    result.tiIpResult = item.json['TI IP Result '];\n  }\n});\n\n// Return the merged result as an object inside 'json'\nreturn [\n  {\n    json: result // Return the final result object\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3152,
        -96
      ],
      "id": "b05731cd-8a6a-48d1-8c71-769a866dcab2",
      "name": "Check for existence"
    },
    {
      "parameters": {
        "url": "={{$vars.SA_API_Base_URL}}/api/v1/ai/alert_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "= Bearer  {{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Access Token'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"alert\": {{ $('Clean Original Rule ').first().json.CleanOriginalRule.toJsonString() }},\n    \"related_logs\": [{\"name\":\"source_ip\",\"alerts\":{{ $json.RL_SourceIP }}}]\n}\n\n ",
        "options": {
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1856,
        -1168
      ],
      "id": "e9ef9ae3-2ae9-42db-b0a3-f0412654f161",
      "name": "AI analysis(SourceIP)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{$vars.SA_API_Base_URL}}/api/v1/ai/alert_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "= Bearer  {{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Access Token'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"alert\":{{ $('Clean Original Rule ').first().json.CleanOriginalRule.toJsonString() }},\n    \"related_logs\": [{\"name\":\"sensor_ip\",\"alerts\":{{ $json.RL_SensorIP }}}]\n}",
        "options": {
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1856,
        -1008
      ],
      "id": "7238a660-9e19-4f5e-8ff4-bb278d56be9c",
      "name": "AI analysis(SensorIP)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{$vars.SA_API_Base_URL}}/api/v1/ai/alert_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "= Bearer  {{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Access Token'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"alert\": {{ $('Clean Original Rule ').first().json.CleanOriginalRule.toJsonString() }},\n    \"related_logs\": [{\"name\":\"process_name\",\"alerts\":{{ $json.RL_ProcessName }}}]\n}\n\n",
        "options": {
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1840,
        -768
      ],
      "id": "f71ee32c-85bb-4485-bb1b-2c463c6a675f",
      "name": "AI analysis(ProcessName)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{$vars.SA_API_Base_URL}}/api/v1/ai/alert_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "= Bearer  {{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Access Token'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"alert\":{{ $('Clean Original Rule ').first().json.CleanOriginalRule.toJsonString() }},\n    \"related_logs\": [{\"name\":\"file_path\",\"alerts\":{{ $json.RL_FilePath }}}]\n}\n\n",
        "options": {
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1840,
        -448
      ],
      "id": "f3802dc8-f079-4d61-8237-0a6fdcc338dc",
      "name": "AI analysis(FilePath)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{$vars.SA_API_Base_URL}}/api/v1/ai/alert_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "= Bearer  {{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Access Token'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"alert\":{{ $('Clean Original Rule ').first().json.CleanOriginalRule.toJsonString() }},\n    \"related_logs\": [{\"name\":\"user_name\",\"alerts\":{{ $json.RL_UserName }}}]\n}\n\n",
        "options": {
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1824,
        -128
      ],
      "id": "962f6990-dbb5-4529-a225-5e4ef7536013",
      "name": "AI analysis(UserName)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{$vars.SA_API_Base_URL}}/api/v1/ai/alert_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "= Bearer  {{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Access Token'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"alert\": {{ $('Clean Original Rule ').first().json.CleanOriginalRule.toJsonString() }},\n    \"related_logs\": [{\"name\":\"destination_ip\",\"alerts\":{{ $json.RL_DestinationIP }}}]\n}\n\n",
        "options": {
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1840,
        64
      ],
      "id": "aa94b88a-118b-411c-b266-529b0eced92b",
      "name": "AI analysis(DestinationIP)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{$vars.SA_API_Base_URL}}/api/v1/ai/alert_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "= Bearer  {{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Access Token'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"alert\": {{ $('Clean Original Rule ').first().json.CleanOriginalRule.toJsonString() }},\n    \"related_rule_logs\":[{\"alerts\": {{ $json.RL_RuleEvents }}}]\n}",
        "options": {
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -784,
        464
      ],
      "id": "7ad733d9-332a-450e-ad67-7af6f742d15f",
      "name": "AI analysis(RuleEvents)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f66e26c-d4eb-4a29-95c9-48f5f548fb33",
              "name": "Related_Analysis_SensorIP",
              "value": "={{ $json.data[0].detailsMarkdown }}",
              "type": "string"
            },
            {
              "id": "2ef501f6-c2e8-411c-a3be-4ef95de832e1",
              "name": "reference",
              "value": "={{ $json.data[0].reference }}",
              "type": "array"
            },
            {
              "id": "d6f05976-43f2-4af3-843c-d6caf3e31f0c",
              "name": "timeline",
              "value": "={{ $json.data[0].timeline }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1616,
        -1024
      ],
      "id": "2e97c322-6896-40a8-b676-507e97fa5709",
      "name": "Related_Analysis_SensorIP"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f66e26c-d4eb-4a29-95c9-48f5f548fb33",
              "name": "Related_Analysis_SourceIP",
              "value": "={{ $json.data[0].detailsMarkdown }}",
              "type": "string"
            },
            {
              "id": "bff05fef-d950-4745-a696-04421b6ad3d3",
              "name": "reference",
              "value": "={{ $json.data[0].reference }}",
              "type": "array"
            },
            {
              "id": "9defce2c-85f0-4a24-84a7-98c2ea5b9d93",
              "name": "timeline",
              "value": "={{ $json.data[0].timeline }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1616,
        -1168
      ],
      "id": "303facb4-130d-42bb-b90e-c75ad6391601",
      "name": "Related_Analysis_SourceIP"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f66e26c-d4eb-4a29-95c9-48f5f548fb33",
              "name": "Related_Analysis_ProcessName",
              "value": "={{ $json.data[0].detailsMarkdown }}",
              "type": "string"
            },
            {
              "id": "8c7ad157-b9fe-4b16-b3fd-2775e9241399",
              "name": "reference",
              "value": "={{ $json.data[0].reference }}",
              "type": "array"
            },
            {
              "id": "390f478c-ae71-4c76-9628-8525eedaa9df",
              "name": "timeline",
              "value": "={{ $json.data[0].timeline }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1600,
        -784
      ],
      "id": "e82dae5c-d9c7-4791-bb8e-303ffb235fa8",
      "name": "Related_Analysis_ProcessName"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f66e26c-d4eb-4a29-95c9-48f5f548fb33",
              "name": "Related_Analysis_FilePath",
              "value": "={{ $json.data[0].detailsMarkdown }}",
              "type": "string"
            },
            {
              "id": "adb22420-2a26-45e5-abbf-26e6f9cd5348",
              "name": "reference",
              "value": "={{ $json.data[0].reference }}",
              "type": "array"
            },
            {
              "id": "8b1b91c9-994b-4e27-b02d-27a5e2abfe11",
              "name": "timeline",
              "value": "={{ $json.data[0].timeline }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1600,
        -464
      ],
      "id": "370d2eb7-355b-4b35-9924-d6768d9a9ecd",
      "name": "Related_Analysis_FilePath"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f66e26c-d4eb-4a29-95c9-48f5f548fb33",
              "name": "Related_Analysis_UserName",
              "value": "={{ $json.data[0].detailsMarkdown }}",
              "type": "string"
            },
            {
              "id": "35f1c520-07c3-48ca-bfba-bab7e0cb536d",
              "name": "reference",
              "value": "={{ $json.data[0].reference }}",
              "type": "array"
            },
            {
              "id": "cb0de61a-e554-44b3-9023-faa982c30f5f",
              "name": "timeline",
              "value": "={{ $json.data[0].timeline }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1584,
        -144
      ],
      "id": "000c8610-69c8-4fe0-a132-601e6d7d08c5",
      "name": "Related_Analysis_UserName"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f66e26c-d4eb-4a29-95c9-48f5f548fb33",
              "name": "Related_Analysis_DestinationIP",
              "value": "={{ $json.data[0].detailsMarkdown }}",
              "type": "string"
            },
            {
              "id": "6dcb220c-d9a5-4910-ba73-dec8ed839fc6",
              "name": "data[0].reference",
              "value": "={{ $json.data[0].reference }}",
              "type": "array"
            },
            {
              "id": "5127a706-adaa-45cf-b91d-a6a1470ba9dc",
              "name": "timeline",
              "value": "={{ $json.data[0].timeline }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1600,
        64
      ],
      "id": "a5d8aad3-32f2-4bbe-b8d8-7859134c68e3",
      "name": "Related_Analysis_DestinationIP"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f66e26c-d4eb-4a29-95c9-48f5f548fb33",
              "name": "Related_Analysis_RuleEvents",
              "value": "={{ $json.data[0].detailsMarkdown }}",
              "type": "string"
            },
            {
              "id": "ea20843c-ecfe-4602-9a8e-98451f226053",
              "name": "reference",
              "value": "={{ $json.data[0].reference }}",
              "type": "array"
            },
            {
              "id": "d9dcc179-96ba-45a2-9f66-a15a5075f2d2",
              "name": "timeline",
              "value": "={{ $json.data[0].timeline }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        464
      ],
      "id": "061d976e-4f37-49b3-934b-ac2a3ab548b1",
      "name": "Related_Analysis_RuleEvents"
    },
    {
      "parameters": {
        "jsCode": "\ninput = $input.all();\nconst output = input.map(item => ({\n  name: \"Related_Analysis_SourceIP\",\n  analysis: $input.first().json.Related_Analysis_SourceIP,\n  reference: $input.first().json.reference,\n  timeline: $input.first().json.timeline\n}));\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        -1168
      ],
      "id": "7e873e1c-115f-481c-93f6-856d85d39ea1",
      "name": "AI_Fields_SourceIP"
    },
    {
      "parameters": {
        "jsCode": "\ninput = $input.all();\nconst output = input.map(item => ({\n  name: \"Related_Analysis_SensorIP\",\n  analysis: $input.first().json.Related_Analysis_SensorIP,\n  reference: $input.first().json.reference,\n  timeline: $input.first().json.timeline\n}));\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        -1024
      ],
      "id": "c2894a10-7c24-42b9-84bd-42b721b99a62",
      "name": "AI_Fields_SensorIP"
    },
    {
      "parameters": {
        "jsCode": "\ninput = $input.all();\nconst output = input.map(item => ({\n  name: \"Related_Analysis_ProcessName\",\n  analysis: $input.first().json.Related_Analysis_ProcessName,\n  reference: $input.first().json.reference, \n  timeline: $input.first().json.timeline\n}));\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        -768
      ],
      "id": "e5b2b48d-1e5c-405c-b9bd-8e350b59bc6f",
      "name": "AI_Fields_ProcessName"
    },
    {
      "parameters": {
        "jsCode": "\ninput = $input.all();\nconst output = input.map(item => ({\n  name: \"Related_Analysis_FilePath\",\n  analysis: $input.first().json.Related_Analysis_FilePath,\n  reference: $input.first().json.reference,\n  timeline: $input.first().json.timeline\n}));\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        -464
      ],
      "id": "266f7c89-d4d5-4dfc-a30d-6de0985c5e25",
      "name": "AI_Fields_FilePath"
    },
    {
      "parameters": {
        "jsCode": "\ninput = $input.all();\nconst output = input.map(item => ({\n  name: \"Related_Analysis_UserName\",\n  analysis: $input.first().json.Related_Analysis_UserName,\n  reference: $input.first().json.reference,\n  timeline: $input.first().json.timeline\n}));\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1296,
        -128
      ],
      "id": "49b18313-d137-48b9-8a90-9c2eff96162e",
      "name": "AI_Fields_UserName"
    },
    {
      "parameters": {
        "jsCode": "\ninput = $input.all();\nconst output = input.map(item => ({\n  name: \"Related_Analysis_UserName\",\n  analysis: $input.first().json.Related_Analysis_UserName,\n  reference: $input.first().json.reference,\n  timeline: $input.first().json.timeline\n}));\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1312,
        64
      ],
      "id": "38114454-8ea1-4b82-8bf0-302de792a9b4",
      "name": "AI_Fields_DestinationIP"
    },
    {
      "parameters": {
        "jsCode": "\ninput = $input.all();\nconst output = input.map(item => ({\n  name: \"Related_Analysis_RuleEvents\",\n  analysis: $input.first().json.Related_Analysis_RuleEvents,\n  reference: $input.first().json.reference,\n  timeline: $input.first().json.timeline\n}));\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        464
      ],
      "id": "99a061e1-4b02-4ebe-b009-55f8ee1adcec",
      "name": "AI_Fields_DestinationIP1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d1b120aa-cf91-4e3e-b921-3ea0a94eca60",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2016,
        368
      ],
      "id": "6ffcd181-c3f0-4029-bba4-dd2fd4dfb130",
      "name": "If3"
    },
    {
      "parameters": {
        "jsCode": "// n8n Function Node\n\n// Get the array of hits\nconst hitsArray = $('Called by ES-AI-5A-Create Time line & Check').first().json['Original Rule'][0].json.latest_doc.hits.hits;\n\n// Flatten function\nfunction flattenObject(ob) {\n    const toReturn = {};\n\n    for (let i in ob) {\n        if (!ob.hasOwnProperty(i)) continue;\n\n        if (typeof ob[i] === 'object' && ob[i] !== null && !Array.isArray(ob[i])) {\n            const flatObject = flattenObject(ob[i]);\n            for (let x in flatObject) {\n                if (!flatObject.hasOwnProperty(x)) continue;\n                // Replace dots in the key with underscores\n                const newKey = i.replace(/\\./g, '_') + '_' + x.replace(/\\./g, '_');\n                toReturn[newKey] = flatObject[x];\n            }\n        } else {\n            // Replace dots in the key with underscores\n            const newKey = i.replace(/\\./g, '_');\n            toReturn[newKey] = ob[i];\n        }\n    }\n    return toReturn;\n}\n\n// Escape function to make JSON safe\nfunction escapeString(value) {\n    if (typeof value === 'string') {\n        return value\n            .replace(/\\\\/g, '\\\\\\\\') // Escape backslashes first\n            .replace(/\\n/g, '\\\\n')   // Escape newlines\n            .replace(/\\r/g, '\\\\r')   // Escape carriage returns\n            .replace(/\\t/g, '\\\\t')   // Escape tabs\n            .replace(/\\\"/g, '\\\\\"');  // Escape double quotes\n    }\n    return value;\n}\n\n// Flatten and escape each hit\nconst flattenedHits = hitsArray.map(hit => {\n    const flattened = flattenObject(hit);\n\n    // Escape all string fields inside flattened object\n    const escaped = {};\n    for (const key in flattened) {\n        escaped[key] = escapeString(flattened[key]);\n    }\n\n    return escaped;\n});\n\n// Return everything\nreturn [\n  {\n    json: {\n      CleanOriginalRule: flattenedHits\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3664,
        -528
      ],
      "id": "126360d1-6e49-4cb3-88ec-e74b48df222e",
      "name": "Clean Original Rule "
    },
    {
      "parameters": {
        "content": "## Extract and Normalize Alert Key Fields\nThis section of the workflow parses key fields from incoming alert data—such as source IP, destination IP, sensor IP, process name, file path, username, and rule name—by navigating the nested structure of the original alert. It then compiles these into flat, clean variables for use in later stages. ",
        "height": 360,
        "width": 680,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4176,
        -688
      ],
      "typeVersion": 1,
      "id": "5c0faa7a-e0a4-4553-8d90-ea48db434868",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Splitting for Search\nThe extracted fields are evaluated to check for non-empty values. Based on conditions, the workflow splits into separate paths to search for each field (e.g., Source IP, Sensor IP, Process Name, etc.) in Elasticsearch.",
        "height": 580,
        "width": 260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3488,
        -848
      ],
      "typeVersion": 1,
      "id": "0f5325a3-3895-4641-8491-3089b5fe8ab3",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Normalizing File Path\nFile paths are processed to escape special characters (e.g., backslashes), ensuring compatibility with JSON queries for Elasticsearch searches.",
        "height": 340
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3216,
        -704
      ],
      "typeVersion": 1,
      "id": "d19feac6-cda2-46f0-aa7a-b0872fe4cb7a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Elasticsearch Searches\nEach node performs a targeted search in Elasticsearch for related logs based on the extracted fields. Queries are filtered by a 24-hour time range relative to the alert’s timestamp and use aggregations to retrieve top hits for fields like source.ip, destination.ip, process.name, etc.",
        "height": 1500,
        "width": 460,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2384,
        -1328
      ],
      "typeVersion": 1,
      "id": "6786f554-7df5-40f8-90ba-f980ab7c06db",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Rule Type Identification\n\nIdentifies the alert rule category (e.g., EQL, KQL/Lucene, Threshold, Machine Learning) to determine the appropriate query method for retrieving related events.",
        "height": 540,
        "width": 300,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2736,
        432
      ],
      "typeVersion": 1,
      "id": "c5d34cf0-c243-4e0d-93fb-81fd3f6356fc",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## EQL Rule Execution & Result Limitation\nThis part of the workflow handles the execution of an EQL query extracted from a detection rule. The query is first cleaned to remove comments and escape special characters. It is then executed against Elasticsearch with a 30-minute time filter around the rule's execution time. The response is checked for errors or empty results. If the number of matched sequences is high, the workflow limits the output by selecting only the first event from each sequence; otherwise, it collects more detailed events.",
        "height": 360,
        "width": 1000,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2416,
        208
      ],
      "typeVersion": 1,
      "id": "5e394b8a-7a30-4960-b8bc-0e2e5becfbbf",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Merge1\nCombines inputs from EQL, KQL/Lucene, and error-handling paths into a single dataset for event processing.",
        "height": 380,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1408,
        272
      ],
      "typeVersion": 1,
      "id": "47948a11-cb8e-4f97-988a-c9d6575322af",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Storing AI Analysis Results\nThe AI analysis responses are processed to extract key details (detailsMarkdown, reference, timeline) and stored for each field and rule events.",
        "height": 1500,
        "width": 500,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1904,
        -1328
      ],
      "typeVersion": 1,
      "id": "85c8b7a3-a6fd-468f-90f8-ae660417da59",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Formatting AI Analysis Output\nThe AI analysis results are formatted into a consistent structure, including the analysis name, details, references, and timeline for each field and rule events.",
        "height": 1500,
        "width": 260,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1376,
        -1328
      ],
      "typeVersion": 1,
      "id": "76edffca-0e0f-4e94-b963-fcc41c098a00",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "## Final Merging\nAll formatted AI analysis results are merged into a single output, combining insights from Source IP, Sensor IP, Process Name, File Path, User Name, Destination IP, and Rule Events.",
        "height": 640,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -80,
        -880
      ],
      "typeVersion": 1,
      "id": "7212bca4-e90f-49eb-90eb-82c202c6c41a",
      "name": "Sticky Note14"
    },
    {
      "parameters": {
        "content": "## Extracting Required Fields\nProcesses input from previous AI analysis nodes to extract key fields (Related_Analysis_SensorIP, Related_Analysis_ProcessName, etc.). Filters out empty or null analysis fields and compiles a result list containing type, analysis, reference, and timeline for each valid entry.",
        "height": 420,
        "width": 300,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        192,
        -832
      ],
      "typeVersion": 1,
      "id": "7b75e317-b20b-409e-8788-3ceacdadfb1a",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "## \nFinal AI Analysis Submission\nSends the cleaned original alert and the compiled related analysis results to the AI analysis API using a Bearer token for authentication. The request body includes the cleaned alert data and the merged analysis results.",
        "height": 340,
        "width": 420,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        512,
        -752
      ],
      "typeVersion": 1,
      "id": "0c166ac3-3d48-42dd-8e2f-5e5d6007b751",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## Extract and Categorize Evidence Information\nThis segment of the workflow processes the additional evidence data by cleaning and extracting key-value pairs. It uses regular expressions to identify and parse the information into a structured format, including validation checks for specific fields like IP addresses. The parsed data is then passed to a switch node, which categorizes and routes the information based on conditions like the presence of an IP, host, or process data.",
        "height": 400,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        -208
      ],
      "typeVersion": 1,
      "id": "f189e7d4-fdbc-497b-9769-f6ed59c369db",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## Categorize IP Addresses into Public and Private\nThis part of the workflow takes a list of IP addresses, separates them into public and private categories using a custom JavaScript function, and then routes the output based on the presence of each type.",
        "height": 300,
        "width": 760,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        -416
      ],
      "typeVersion": 1,
      "id": "d05d3166-e327-49ce-8534-e61fa51a6248",
      "name": "Sticky Note19"
    },
    {
      "parameters": {
        "content": "## Prepare and Merge Host & IP Context for AI Summary\nThis section extracts and organizes key data including hostnames, private IPs, public IPs, access tokens, the original detection rule, and the AI-generated summary. It separates the context into two sets — one for host and another for private IPs — and then merges them to create a unified structure for downstream processing or enrichment.",
        "height": 400,
        "width": 820,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        -240
      ],
      "typeVersion": 1,
      "id": "026da81d-4506-4c20-9b93-7b452f56b82c",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "## Trigger AI-Based Threat Intelligence Summary for Public IPs\nThis section sets essential data — including public IPs, access token, original detection rule, and AI-generated summary — before invoking a sub-workflow (`ES-AI-TI & AI Summary`). ",
        "height": 280,
        "width": 700,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1920,
        -544
      ],
      "typeVersion": 1,
      "id": "ebeb3c95-f4ff-405d-babb-5aadb912284f",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "content": "## Process Enrichment and Conditional Routing\nThis part of the flow focuses on enriching the process name extracted from extra evidence. It sends the process name to an enrichment API with proper authorization and checks if a valid result is returned. If the enrichment fails (result is \"Not Found\"), it routes the flow to fetch AI summaries and additional details for advanced analysis and reporting.",
        "height": 304,
        "width": 464,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1152,
        192
      ],
      "typeVersion": 1,
      "id": "dae03907-e74d-43d1-998a-d67c6aa20e9b",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "## Merge and Validate Enrichment Results\nThis section merges up to four enrichment results (such as EI IP, EI Process, and TI IP) and runs a JavaScript function to check which results are present. The script filters and combines only the existing fields into a unified JSON object, preparing the data for further analysis or decision-making steps.",
        "height": 380,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2784,
        -288
      ],
      "typeVersion": 1,
      "id": "726c1761-dac6-40bc-96e1-a0e04390129d",
      "name": "Sticky Note33"
    },
    {
      "parameters": {
        "content": "## Prepare and Execute Final Note Insertion\nThis section collects all the essential data points—such as AI analysis results, timeline creation details, alert timestamps, and threat intelligence findings—and consolidates them into structured variables. Once assembled, these variables are passed to a sub-workflow (`ES-AI-RL-Insert Note`) which is responsible for inserting the final timeline note into the system.",
        "height": 380,
        "width": 580,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3248,
        -784
      ],
      "typeVersion": 1,
      "id": "6a7a11a5-6584-4b81-bd4b-6cae3a11869a",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "content": "## Build and Execute KQL/Lucene Search Query from Detection Rule\nThis section of the workflow dynamically constructs an Elasticsearch query based on a detection rule's filters and query string (KQL or Lucene), extracted from the original alert data. It formats the query using proper escaping, includes time range filtering based on rule execution timestamp and interval, and sends it to the source index via an HTTP request for further result analysis.",
        "height": 360,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2416,
        592
      ],
      "typeVersion": 1,
      "id": "3b366c46-4332-49f0-bb0b-621a9ffe4bc4",
      "name": "Sticky Note38"
    },
    {
      "parameters": {
        "content": "## AI-Powered Rule Events Analysis\nThis part of the workflow merges detection results from multiple sources, then sends them along with the original alert to an AI analysis API. The API returns contextual insights such as a detailed markdown explanation, related references, and a suggested timeline. These results are extracted and formatted for further enrichment or reporting.\n",
        "height": 320,
        "width": 900
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1136,
        304
      ],
      "typeVersion": 1,
      "id": "8ad4d5ea-7e06-4d44-83e6-4dde8fda3452",
      "name": "Sticky Note43"
    },
    {
      "parameters": {
        "content": "### Called by Workflows:\n- Elastic AI — ES-AI-5A-Create Time line & Check",
        "height": 220,
        "width": 300,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -4368,
        -928
      ],
      "typeVersion": 1,
      "id": "8f73e2c8-6a22-4a64-ad8e-018fe50ee334",
      "name": "Sticky Note45"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "b0xdqEfVPSE268q4",
          "mode": "list",
          "cachedResultUrl": "/workflow/b0xdqEfVPSE268q4",
          "cachedResultName": "ES — ES-Error Monitoring"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        832,
        288
      ],
      "id": "0be0563e-25c6-4cd7-a0c0-fca14a9f7073",
      "name": "Execute Error WorkFlow"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "= {\n    \"WirkFlowID\": \"{{ $workflow.id }}\",\n    \"ExecutionID\": \"{{ $execution.id || '' }}\",\n    \"mode\": \"{{ $execution.mode }}\",\n    \"workflowName\": \"{{ $workflow.name }}\",\n    \"nodeName\": {{ JSON.stringify($prevNode || {}) }},\n    \"NodeError\": {{ JSON.stringify($json) }},\n    \"nodeErrorStatusCode\": {{ JSON.stringify($json) }},\n    \"@timestamp\": \"{{ new Date().toISOString() }}\",\n    \"apksoar.nodetimestamp\": \"{{ new Date().toISOString() }}\",\n    \"apksoar.ErrorType\": \"Node\"\n  }\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        288
      ],
      "id": "e4bc0ee7-0d7e-4f8d-9233-1a17d1e95e2d",
      "name": "Required Fields "
    },
    {
      "parameters": {
        "content": "# Version Info:\n\n### Workflow: ES-AI-RL & AI Analysis\n### Workflow-Version: 1.0.2\n### Last Updated: 1404-10-20\n### Author: A&A\n### Change: Modifying variables\n### Status: InActive",
        "height": 300,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -3808,
        -1280
      ],
      "typeVersion": 1,
      "id": "a453d9e1-d1ea-4c10-bc95-33f2f72a4aea",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rFDystiVMo93hN9J",
          "mode": "list",
          "cachedResultUrl": "/workflow/rFDystiVMo93hN9J",
          "cachedResultName": "ES — ES-AI-Insert Timeline"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3632,
        -624
      ],
      "id": "0843ce9b-0198-42a5-b917-7088048451db",
      "name": "Call 'ES-AI-Insert Timeline'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d8494bc7-c42e-40b0-beec-28b9e8f737a0",
              "leftValue": "={{ $('Extract Field in Alert').item.json.SensorIP }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2528,
        -128
      ],
      "id": "9cb93a0b-0eeb-4fdc-8ef6-ff79142c125f",
      "name": "Check For Existance of Sensor IP"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d8494bc7-c42e-40b0-beec-28b9e8f737a0",
              "leftValue": "={{ $('Extract Field in Alert').item.json.SensorIP }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2544,
        -432
      ],
      "id": "f7cab71d-6396-4164-8dc0-e24fdbfd4b47",
      "name": "Check For Existance of Sensor IP1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d8494bc7-c42e-40b0-beec-28b9e8f737a0",
              "leftValue": "={{ $('Extract Field in Alert').item.json.SensorIP }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -2544,
        -784
      ],
      "id": "a97d05d9-e132-4b1b-82fc-c172ac8442ae",
      "name": "Check For Existance of Sensor IP2"
    },
    {
      "parameters": {
        "url": "={{$vars.ES_Base_URL_Elastic}}/logs-*/_search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"size\": 0,\n  \"query\": {\n    \"bool\": {\n      \"filter\": [\n        {\n          \"multi_match\": {\n            \"query\": \"{{ $('Extract Field in Alert').item.json.ProcessName }}\",\n            \"fields\": [\"process.name\", \"process.parent.name\"]\n          }\n        },\n        {\n          \"range\": {\n            \"@timestamp\": {\n              \"gte\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['@timestamp'] }}||-24h\",\n              \"lte\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['@timestamp'] }}\"\n            }\n          }\n        },\n        {\n          \"term\": {\n            \"data_stream.namespace\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Original Rule'][0].json.latest_doc.hits.hits[0]._source.data_stream.namespace }}\"\n          }\n        },\n        {\n          \"term\": {\n            \"sensor.ip\": \"{{ $('Extract Field in Alert').item.json.SensorIP }}\"\n          }\n        }\n      ]\n    }\n  },\n  \"aggs\": {\n    \"processes\": {\n      \"terms\": {\n        \"field\": \"process.name\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    },\n    \"parent_processes\": {\n      \"terms\": {\n        \"field\": \"process.parent.name\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    }\n  }\n}\n",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2320,
        -864
      ],
      "id": "3c8144d0-5c78-4d0d-a9b4-926f9d657257",
      "name": "Find For ProcessName with Sensor ip",
      "credentials": {
        "httpBasicAuth": {
          "id": "Xa87cVsD8tKhDabu",
          "name": "Elastic"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$vars.ES_Base_URL_Elastic}}/logs-*/_search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"size\": 0,\n  \"query\": {\n    \"bool\": {\n      \"filter\": [\n        {\n          \"multi_match\": {\n            \"query\": \"{{ $json.EscapedFilePath }}\",\n            \"fields\": [\"file.path\", \"file.directory\"]\n          }\n        },\n        {\n          \"range\": {\n            \"@timestamp\": {\n              \"gte\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['@timestamp'] }}||-24h\",\n              \"lte\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['@timestamp'] }}\"\n            }\n          }\n        },\n        {\n          \"term\": {\n            \"data_stream.namespace\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Original Rule'][0].json.latest_doc.hits.hits[0]._source.data_stream.namespace }}\"\n          }\n        },\n        {\n          \"term\": {\n            \"sensor.ip\": \"{{ $('Extract Field in Alert').item.json.SensorIP }}\"\n          }\n        }\n      ]\n    }\n  },\n  \"aggs\": {\n    \"file_path\": {\n      \"terms\": {\n        \"field\": \"file.path\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    },\n    \"file_directory\": {\n      \"terms\": {\n        \"field\": \"file.directory\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    }\n  }\n}\n",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2320,
        -528
      ],
      "id": "d317b446-c8d0-4c89-a2f8-73a57b20a93d",
      "name": "Find For FilePath with Sensor ip",
      "credentials": {
        "httpBasicAuth": {
          "id": "Xa87cVsD8tKhDabu",
          "name": "Elastic"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$vars.ES_Base_URL_Elastic}}/logs-*/_search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"size\": 0,\n  \"query\": {\n    \"bool\": {\n      \"filter\": [\n        {\n          \"multi_match\": {\n            \"query\": \"{{ $('Extract Field in Alert').item.json.UserName }}\",\n            \"fields\": [\"user.name\", \"target.user.name\"]\n          }\n        },\n        {\n          \"range\": {\n            \"@timestamp\": {\n              \"gte\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['@timestamp'] }}||-24h\",\n              \"lte\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['@timestamp'] }}\"\n            }\n          }\n        },\n        {\n          \"term\": {\n            \"data_stream.namespace\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Original Rule'][0].json.latest_doc.hits.hits[0]._source.data_stream.namespace }}\"\n          }\n        },\n        {\n          \"term\": {\n            \"sensor.ip\": \"{{ $('Extract Field in Alert').item.json.SensorIP }}\"\n          }\n        }\n      ]\n    }\n  },\n  \"aggs\": {\n    \"user_name\": {\n      \"terms\": {\n        \"field\": \"user.name\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    },\n    \"target_user_name\": {\n      \"terms\": {\n        \"field\": \"target.user.name\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"sample_log\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n          }\n        }\n      }\n    }\n  }\n}\n",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2304,
        -208
      ],
      "id": "ab006839-8901-477e-83aa-e30c01eaa1fa",
      "name": "Find For UserName with Sensor IP",
      "credentials": {
        "httpBasicAuth": {
          "id": "Xa87cVsD8tKhDabu",
          "name": "Elastic"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eiVosPdVzzBe1lRq",
          "mode": "list",
          "cachedResultUrl": "/workflow/eiVosPdVzzBe1lRq",
          "cachedResultName": "ES — ES-AI-EI & AI Summery"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2592,
        -96
      ],
      "id": "307f2654-e13a-49b6-ab92-ee4890e51ab4",
      "name": "Called ES-AI-EI & AI Summery(IP)",
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "// Get all input items\nconst allItems = $input.all();\n\n// This will hold the merged data\nlet merged = {};\n\n// Loop through each input item\nfor (const item of allItems) {\n    // Merge the JSON of each item\n    merged = { ...merged, ...item.json };\n}\n\n// Return as a single item\nreturn [{ json: merged }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2448,
        -32
      ],
      "id": "ecd7202e-8abe-4f40-ab39-c6b46e0378c4",
      "name": "Merge all data"
    },
    {
      "parameters": {
        "jsCode": "const inputItem = $('Called by ES-AI-5A-Create Time line & Check').first();\nif (!inputItem) {\n  return [];\n}\nconst originalRule = inputItem.json['Original Rule'];\nif (!originalRule || !originalRule.length) {\n  return [];\n}\nconst alertJson = originalRule[0].json;\nconst hits = alertJson.latest_doc.hits.hits;\nif (!hits || !hits.length) {\n  return [];\n}\nconst doc = hits[0]._source;\n\nconst foundFields = [];\nconst foundIps = new Set();\nconst excluded = new Set(['x-forwarder-for', 'source.ip', 'client.ip', 'related.ip', 'host.ip'].map(s => s.toLowerCase()));\n\nfunction isValidIPv4(ip) {\n  const trimmed = ip.trim();\n  const parts = trimmed.split('.').map(Number);\n  if (parts.length !== 4 || trimmed !== parts.join('.')) return false;\n  return parts.every(p => !isNaN(p) && p >= 0 && p <= 255);\n}\n\nfunction findIPFields(obj, path = '', foundFields, foundIps, excluded) {\n  const lowerPath = path.toLowerCase();\n  if (excluded.has(lowerPath)) {\n    return;\n  }\n  if (typeof obj === 'object' && obj !== null) {\n    if (Array.isArray(obj)) {\n      obj.forEach((item, i) => findIPFields(item, path ? `${path}[${i}]` : `[${i}]`, foundFields, foundIps, excluded));\n    } else {\n      for (const key in obj) {\n        const newPath = path ? `${path}.${key}` : key;\n        findIPFields(obj[key], newPath, foundFields, foundIps, excluded);\n      }\n    }\n  } else if (typeof obj === 'string' && isValidIPv4(obj)) {\n    foundFields.push({\n      field: path,\n      ip: obj\n    });\n    foundIps.add(obj);\n  }\n}\n\nfindIPFields(doc, '', foundFields, foundIps, excluded);\n\nreturn [{\n  json: {\n    found_fields: foundFields,\n    found_ips: Array.from(foundIps)\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2336,
        -1488
      ],
      "id": "eb4b650e-13a6-4668-b800-60cc5a24108d",
      "name": "Return me other fields for Destination"
    },
    {
      "parameters": {
        "url": "={{$vars.ES_Base_URL_Elastic}}/logs-*/_search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"size\": 0,\n  \"query\": {\n    \"bool\": {\n      \"filter\": [\n        {\n          \"range\": {\n            \"@timestamp\": {\n              \"gte\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['@timestamp'] }}||-24h\",\n              \"lte\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').item.json['Original Rule'][0].json.latest_doc.hits.hits[0]._source['@timestamp'] }}\"\n            }\n          }\n        },\n        {\n          \"term\": {\n            \"data_stream.namespace\": \"{{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Original Rule'][0].json.latest_doc.hits.hits[0]._source.data_stream.namespace }}\"\n          }\n        },\n        {\n          \"term\": {\n            \"sensor.ip\": \"{{ $('Extract Field in Alert').item.json.XSC }}\"\n          }\n        },\n        {\n          \"terms\": {\n            \"destination.ip\": {{ $json.found_ips.toJsonString() }}\n          }\n        }\n      ]\n    }\n  },\n  \"aggs\": {\n    \"by_destination\": {\n      \"terms\": {\n        \"field\": \"destination.ip\",\n        \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}}\n      },\n      \"aggs\": {\n        \"top_hits_per_destination\": {\n          \"top_hits\": {\n            \"size\": {{$vars.ES_Top_Hits_Aggregation_Size}},                  \n            \"sort\": [\n              { \"@timestamp\": \"desc\" }\n            ]\n          }\n        }\n      }\n    }\n  }\n}\n",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2096,
        -1488
      ],
      "id": "20d8a5ed-1960-445b-bfde-5ea71caf834e",
      "name": "Find For XSC",
      "credentials": {
        "httpBasicAuth": {
          "id": "Xa87cVsD8tKhDabu",
          "name": "Elastic"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b1e4db11-8944-403b-a757-a8e1ff7de4cb",
              "name": "RL_XSC",
              "value": "={{ $json.aggregations }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1872,
        -1488
      ],
      "id": "9ddc8fc7-4823-4233-a950-ba7e05578324",
      "name": "RL_XSC"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2f66e26c-d4eb-4a29-95c9-48f5f548fb33",
              "name": "Related_Analysis_XSC",
              "value": "={{ $json.data[0].detailsMarkdown }}",
              "type": "string"
            },
            {
              "id": "bff05fef-d950-4745-a696-04421b6ad3d3",
              "name": "reference",
              "value": "={{ $json.data[0].reference }}",
              "type": "array"
            },
            {
              "id": "9defce2c-85f0-4a24-84a7-98c2ea5b9d93",
              "name": "timeline",
              "value": "={{ $json.data[0].timeline }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1344,
        -1488
      ],
      "id": "85bb0d56-ea59-4a34-824e-0a0c7c1b8744",
      "name": "Related_Analysis_XSC"
    },
    {
      "parameters": {
        "jsCode": "\ninput = $input.all();\nconst output = input.map(item => ({\n  name: \"Related_Analysis_XSC\",\n  analysis: $input.first().json.Related_Analysis_XSC,\n  reference: $input.first().json.reference,\n  timeline: $input.first().json.timeline\n}));\n\nreturn output;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1136,
        -1488
      ],
      "id": "9b03a172-99a7-45f7-9eb5-0c3aa618b11a",
      "name": "AI_Fields_XSC"
    },
    {
      "parameters": {
        "url": "={{$vars.SA_API_Base_URL}}/api/v1/ai/alert_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "= Bearer  {{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Access Token'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"alert\": {{ $('Clean Original Rule ').first().json.CleanOriginalRule.toJsonString() }},\n    \"related_logs\": [{\"name\":\"XSC_ip\",\"alerts\":{{ $json.RL_XSC.toJsonString()}}}]\n}\n\n ",
        "options": {
          "timeout": 180000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1632,
        -1488
      ],
      "id": "c1ca7d9f-8af9-4f13-9e9d-dafb098cf226",
      "name": "AI analysis(XSC)",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{$vars.SA_API_Base_URL}}/api/v1/ai/deep_log_investigation",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "= Bearer  {{ $('Called by ES-AI-5A-Create Time line & Check').first().json['Access Token'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"alert\": {{ $('Clean Original Rule ').first().json.CleanOriginalRule.toJsonString() }},\n    \"final_log_analysis\": {{ $json.data.toJsonString() }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        736,
        -592
      ],
      "id": "506d7633-e464-4308-937a-232bd583ed56",
      "name": "For AI Functions",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    }
  ],
  "connections": {
    "Extract Field in Alert": {
      "main": [
        [
          {
            "node": "Clean Original Rule ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split to Search on Each Field": {
      "main": [
        [
          {
            "node": "Return me other fields for Destination",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find For Source IP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check For Existance of Sensor IP2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find For Sensor IP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Normalize file path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check For Existance of Sensor IP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find For Destination IP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Rule Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find For Source IP": {
      "main": [
        [
          {
            "node": "RL_SourceIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find For Sensor IP": {
      "main": [
        [
          {
            "node": "RL_SensorIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find For FilePath": {
      "main": [
        [
          {
            "node": "RL_FilePath",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find For UserName": {
      "main": [
        [
          {
            "node": "RL_UserName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find For Destination IP": {
      "main": [
        [
          {
            "node": "RL_DestinationIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find For ProcessName": {
      "main": [
        [
          {
            "node": "RL_ProcessName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize file path": {
      "main": [
        [
          {
            "node": "Check For Existance of Sensor IP1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI analysis(RL Info)": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Called by ES-AI-5A-Create Time line & Check": {
      "main": [
        [
          {
            "node": "Extract Field in Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RL_SourceIP": {
      "main": [
        [
          {
            "node": "AI analysis(SourceIP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RL_SensorIP": {
      "main": [
        [
          {
            "node": "AI analysis(SensorIP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RL_ProcessName": {
      "main": [
        [
          {
            "node": "AI analysis(ProcessName)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RL_FilePath": {
      "main": [
        [
          {
            "node": "AI analysis(FilePath)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RL_UserName": {
      "main": [
        [
          {
            "node": "AI analysis(UserName)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RL_DestinationIP": {
      "main": [
        [
          {
            "node": "AI analysis(DestinationIP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Required fields": {
      "main": [
        [
          {
            "node": "AI analysis(RL Info)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Extract Required fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rule Type": {
      "main": [
        [
          {
            "node": "Normalize file path1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate KQL or Lucene Query",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [],
        [],
        [],
        []
      ]
    },
    "Find For EQL Rules": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find For KQL or Lucene": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Normalize file path1": {
      "main": [
        [
          {
            "node": "Find For EQL Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate KQL or Lucene Query": {
      "main": [
        [
          {
            "node": "Find For KQL or Lucene",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limitation": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Events": {
      "main": [
        [
          {
            "node": "RL_RuleEvents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RL_RuleEvents": {
      "main": [
        [
          {
            "node": "AI analysis(RuleEvents)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Required Items": {
      "main": [
        [
          {
            "node": "Call 'ES-AI-Insert Timeline'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limitation",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Collect Required Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Seprate Extra Evidences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seprate Extra Evidences": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "IP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Host",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IP": {
      "main": [
        [
          {
            "node": "Extract Public & Private IPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "process": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Host": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Called ES-AI-TI & AI Summary": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Public & Private IPs": {
      "main": [
        [
          {
            "node": "Divided Public & Private IPs ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Divided Public & Private IPs ": {
      "main": [
        [
          {
            "node": "Public IP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Private IP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Public IP": {
      "main": [
        [
          {
            "node": "Called ES-AI-TI & AI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Private IP": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Merge all data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Check for existence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for existence": {
      "main": [
        [
          {
            "node": "Collect Required Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI analysis(SourceIP)": {
      "main": [
        [
          {
            "node": "Related_Analysis_SourceIP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Required Fields ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI analysis(SensorIP)": {
      "main": [
        [
          {
            "node": "Related_Analysis_SensorIP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Required Fields ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI analysis(ProcessName)": {
      "main": [
        [
          {
            "node": "Related_Analysis_ProcessName",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Required Fields ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI analysis(FilePath)": {
      "main": [
        [
          {
            "node": "Related_Analysis_FilePath",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Required Fields ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI analysis(UserName)": {
      "main": [
        [
          {
            "node": "Related_Analysis_UserName",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Required Fields ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI analysis(DestinationIP)": {
      "main": [
        [
          {
            "node": "Related_Analysis_DestinationIP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Required Fields ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI analysis(RuleEvents)": {
      "main": [
        [
          {
            "node": "Related_Analysis_RuleEvents",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Required Fields ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Related_Analysis_SensorIP": {
      "main": [
        [
          {
            "node": "AI_Fields_SensorIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Related_Analysis_SourceIP": {
      "main": [
        [
          {
            "node": "AI_Fields_SourceIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Related_Analysis_ProcessName": {
      "main": [
        [
          {
            "node": "AI_Fields_ProcessName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Related_Analysis_FilePath": {
      "main": [
        [
          {
            "node": "AI_Fields_FilePath",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Related_Analysis_UserName": {
      "main": [
        [
          {
            "node": "AI_Fields_UserName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Related_Analysis_DestinationIP": {
      "main": [
        [
          {
            "node": "AI_Fields_DestinationIP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Related_Analysis_RuleEvents": {
      "main": [
        [
          {
            "node": "AI_Fields_DestinationIP1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Fields_SourceIP": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "AI_Fields_SensorIP": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "AI_Fields_ProcessName": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "AI_Fields_FilePath": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "AI_Fields_UserName": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "AI_Fields_DestinationIP": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 6
          }
        ]
      ]
    },
    "AI_Fields_DestinationIP1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 7
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Clean Original Rule ": {
      "main": [
        [
          {
            "node": "Split to Search on Each Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Required Fields ": {
      "main": [
        [
          {
            "node": "Execute Error WorkFlow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check For Existance of Sensor IP": {
      "main": [
        [
          {
            "node": "Find For UserName with Sensor IP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find For UserName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check For Existance of Sensor IP1": {
      "main": [
        [
          {
            "node": "Find For FilePath with Sensor ip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find For FilePath",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check For Existance of Sensor IP2": {
      "main": [
        [
          {
            "node": "Find For ProcessName with Sensor ip",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Find For ProcessName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find For ProcessName with Sensor ip": {
      "main": [
        [
          {
            "node": "RL_ProcessName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find For FilePath with Sensor ip": {
      "main": [
        [
          {
            "node": "RL_FilePath",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find For UserName with Sensor IP": {
      "main": [
        [
          {
            "node": "RL_UserName",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Called ES-AI-EI & AI Summery(IP)": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge all data": {
      "main": [
        [
          {
            "node": "Called ES-AI-EI & AI Summery(IP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return me other fields for Destination": {
      "main": [
        [
          {
            "node": "Find For XSC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find For XSC": {
      "main": [
        [
          {
            "node": "RL_XSC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RL_XSC": {
      "main": [
        [
          {
            "node": "AI analysis(XSC)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Related_Analysis_XSC": {
      "main": [
        [
          {
            "node": "AI_Fields_XSC",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI_Fields_XSC": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI analysis(XSC)": {
      "main": [
        [
          {
            "node": "Related_Analysis_XSC",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Required Fields ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "triggerCount": 0,
  "versionId": "3772f38e-5be4-4c4f-9396-dfbca9321ad1",
  "owner": {
    "type": "team",
    "teamId": "9nwWznMeAvCQHglB",
    "teamName": "ES"
  },
  "parentFolderId": null,
  "isArchived": false
}