n8n_files/playbooks/workflows/tpvIVwtC9j6jgIOp.json
{
  "id": "tpvIVwtC9j6jgIOp",
  "name": "ES-Al-Case Creation-Jira",
  "nodes": [
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -800,
        -128
      ],
      "id": "3962e6f7-5c71-4a88-8c41-07acd6ee4544",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d188f166-fc35-446d-b0ed-53f1ee21eb8b",
              "leftValue": "={{ $json.total }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -160,
        -128
      ],
      "id": "79e5e46c-768d-4d2b-86d8-a8116e0c4583",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "Issues",
        "operation": "Add Comment",
        "issueKey": "={{ $json.issues[0].key }}",
        "body": "=<div style=\"text-align: justify; width: 100%; margin: 0; padding: 0;\">\n  <div style=\"direction: rtl; text-align: right; font-family: Tahoma, sans-serif; margin-bottom: 10px;\">\n    <b>نتیجه بررسی:</b>{{ $('When Executed by Another Workflow').item.json['AI Analyze '].persian_analysis }} .\n  </div>\n\n  <div style=\"text-align: left;\">\n    <b>Description:</b> {{ $('When Executed by Another Workflow').item.json['AI Analyze '].detailsMarkdown }}<br>\n    <b>Reference:</b> {{ $('When Executed by Another Workflow').item.json['AI Analyze '].reference.toJsonString().replaceAll('\"','').replaceAll('[','').replaceAll(']','').replaceAll(',','\\\\n') }}<br>\n    <b>TimeLine:</b> {{ $('When Executed by Another Workflow').item.json['AI Analyze '].timeline.toJsonString().replaceAll('\"','').replaceAll('[','').replaceAll(']','').replaceAll(',','\\\\n') }}\n  </div>\n</div>\n",
        "requestOptions": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "CUSTOM.Jira Service Management",
      "typeVersion": 1,
      "position": [
        112,
        48
      ],
      "id": "08406400-acb5-4c46-98ba-c6d0457b3036",
      "name": "Add Comment to exist Case",
      "credentials": {
        "jsmApi": {
          "id": "l597CchS20GYrsZ3",
          "name": "Jira Service Management Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Cases",
        "operation": "Create Case",
        "fields": "={\n  \"project\": {\n    \"key\": \"{{ $('Check for Multi Jira Project').item.json.Project_Key }}\"\n  },\n  \"issuetype\": {\n    \"name\": \"Case\"\n  },\n  \"summary\": \"{{ $('When Executed by Another Workflow').item.json['AI Analyze '].title }}\",\n  \"{{$vars.JIRA_Severity_Field}}\": {\n    \"value\": \"{{ $('When Executed by Another Workflow').item.json['AI Analyze '].severity.result.replace('high','High').replace('medium','Medium').replace('low','Low').replace('critical','Critical') }}\"\n  },\n\"{{$vars.JIRA_AI_Result_Field}}\": {\n    \"value\": \"True Positive\"},\n\"{{$vars.JIRA_AI_Confidence_Field}}\":80,\n\"{{$vars.JIRA_Conclusion_Field}}\": \"{{ $('When Executed by Another Workflow').item.json['AI Analyze '].detailsMarkdown.replaceAll('\\\\','\\\\\\\\').replaceAll('\\n','\\\\n') }}\",\n\"{{$vars.JIRA_Timeline_Field}}\": \"{{ $('When Executed by Another Workflow').item.json['AI Analyze '].timeline.toJsonString().replaceAll(',','\\\\n').replaceAll('\"','').replaceAll('[{','').replaceAll('}]','').replaceAll('{','').replaceAll('}','') }}\",\n\"{{$vars.JIRA_References_Field}}\": \"{{ $('When Executed by Another Workflow').item.json['AI Analyze '].reference.toJsonString().replaceAll('\"','').replaceAll('[','').replaceAll(']','').replaceAll(',','\\\\n') }}\",\n\"{{$vars.JIRA_Attacker_IP_Field}}\": [\"{{ $('When Executed by Another Workflow').item.json['AI Analyze '].attackerIps.toJsonString().replaceAll(',','\\\\n').replaceAll('\"','').replaceAll('[{','').replaceAll('}]','').replaceAll('{','').replaceAll('}','').replaceAll('[','').replaceAll(']','') }}\"],\n\"{{$vars.JIRA_Target_IP_Field}}\": [\"{{ $('When Executed by Another Workflow').item.json['AI Analyze '].targetIps.toJsonString().replaceAll(',','\\\\n').replaceAll('\"','').replaceAll('[{','').replaceAll('}]','').replaceAll('{','').replaceAll('}','').replaceAll('[','').replaceAll(']','') }}\"],\n\"{{$vars.JIRA_User_Name_Field}}\": \"{{ $('When Executed by Another Workflow').item.json['AI Analyze '].targetNames.toJsonString().replaceAll(',','---').replaceAll('\"','').replaceAll('[{','').replaceAll('}]','').replaceAll('{','').replaceAll('}','').replaceAll('[','').replaceAll(']','') }}\",\n\"{{$vars.JIRA_Process_Name_Field}}\": \"{{ $('When Executed by Another Workflow').item.json['AI Analyze '].processes.toJsonString().replaceAll(',','\\\\n').replaceAll('\"','').replaceAll('[{','').replaceAll('}]','').replaceAll('{','').replaceAll('}','').replaceAll('[','').replaceAll(']','') }}\",\n\"{{$vars.JIRA_URL_Field}}\": \"{{ $('When Executed by Another Workflow').item.json['AI Analyze '].urls.toJsonString().replaceAll(',','\\\\n').replaceAll('\"','').replaceAll('[{','').replaceAll('}]','').replaceAll('{','').replaceAll('}','').replaceAll('[','').replaceAll(']','') }}\",\n  \"assignee\": {\n    \"name\": \"{{$vars.JIRA_Assignee_Name}}\"\n  },\n  \"labels\": [\n    \"{{$vars.JIRA_Labels_AI_Analyzer_Field}}-APKSIEM\",\"Zone-{{ $('Check for Multi Jira Project').item.json.Lable }}\"\n  ],\n  \"description\": \"{{ $('When Executed by Another Workflow').item.json['AI Analyze '].persian_analysis.replace(/\\\\/g, '').replace(/\\n/g, '\\\\n') }} \"\n}",
        "requestOptions": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "CUSTOM.Jira Service Management",
      "typeVersion": 1,
      "position": [
        144,
        -304
      ],
      "id": "6cbe7672-0db7-436a-8ccc-60b01cbcd576",
      "name": "Create Case ",
      "credentials": {
        "jsmApi": {
          "id": "l597CchS20GYrsZ3",
          "name": "Jira Service Management Api account"
        }
      }
    },
    {
      "parameters": {
        "resource": "Issues",
        "operation": "Search Issues",
        "jql": "=project =  \"{{ $('Check for Multi Jira Project').item.json.Project_Key }}\" AND issuetype = \"{{$vars.JIRA_Security_Event_IssueType}}\" AND status in (Open, Investigation, \"Waiting for customer\")  AND {{$vars.JIRA_Alert_ID_CF_Field}} ~ \"{{ $json.alertId }}\"",
        "maxResults": 10,
        "requestOptions": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "CUSTOM.Jira Service Management",
      "typeVersion": 1,
      "position": [
        1024,
        -288
      ],
      "id": "40984ade-0c58-4bdd-9d7e-0f57b333dcf8",
      "name": "Search For Existence Alerts",
      "credentials": {
        "jsmApi": {
          "id": "l597CchS20GYrsZ3",
          "name": "Jira Service Management Api account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "alertIds",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        544,
        -304
      ],
      "id": "37c8178c-4dac-4aa6-995f-329045f5d8e8",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "// Safely access the item that triggered this workflow\nconst sourceItem = $('When Executed by Another Workflow').first().json;\n\n// Access alertIds inside the \"AI Analyze \" property (note the space!)\nconst alertIds = sourceItem['AI Analyze ']?.alertIds || [];\n\n// Format each alertId into an object\nconst formatted = alertIds.map(id => ({ alertId: id }));\n\n// Return a single item with the array of objects\nreturn [\n  {\n    json: {\n      alertIds: formatted\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        -304
      ],
      "id": "5ae30ada-9ba9-4603-89f0-d096b8c10f12",
      "name": "Code"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        768,
        -304
      ],
      "id": "44c133ef-8590-474e-b042-c016d96741d4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "resource": "Issues",
        "operation": "Create Issue Link",
        "type": "{\n  \"name\": \"Case to Security Event\"\n}",
        "inwardIssue": "={\n  \"key\": \"{{ $('Create Case ').item.json.key }}\"\n}",
        "outwardIssue": "={\n  \"key\": \"{{ $json.issues[0].key }}\"\n}",
        "requestOptions": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "CUSTOM.Jira Service Management",
      "typeVersion": 1,
      "position": [
        1248,
        -288
      ],
      "id": "e0bf0f5c-4c41-46f2-b58f-95cb011961ed",
      "name": "Jira Service Management",
      "credentials": {
        "jsmApi": {
          "id": "l597CchS20GYrsZ3",
          "name": "Jira Service Management Api account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "## Check and Handle Existing Jira Cases Triggered Externally\nThis section of the workflow is triggered by another workflow and is responsible for handling potential duplicate “Case” issues in Jira. It starts by receiving input via passthrough, then searches Jira for existing issues with the same title and certain statuses. Based on the result, it determines whether to create a new issue or simply add a comment to an existing one.",
        "height": 400,
        "width": 820,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -816,
        -320
      ],
      "typeVersion": 1,
      "id": "df640b41-764d-481a-a22d-e33d5ee00bfc",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Format and Comment on Existing Jira Case\nThis part of the workflow handles updating existing Jira case issues. It begins by formatting the `alertIds` into a structured object, then splits them to enable individual processing. Finally, it adds a detailed comment to the existing case, including analysis, description, result, and reason for traceability.",
        "height": 340,
        "width": 680,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        -464
      ],
      "typeVersion": 1,
      "id": "f8fae772-6204-4905-be0b-ac6b29672005",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Create Case  \n   Creates a new Jira Case with detailed fields including title, severity, MITRE tactic, and descriptions from AI output.",
        "height": 320,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        -96
      ],
      "typeVersion": 1,
      "id": "d86ddb96-d3a6-42c5-93ab-3517c681a6a4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Link Case to Matching Alerts (Batch Processing)\nThis section loops over each `alertId`, performs a JQL-based search in Jira to check if related **Alert** issues already exist (with specific statuses). If a match is found, the Case is linked to the first matching Alert using the **Create Issue Link** operation. This ensures deduplication and traceable relationships between Case and Alert issues in Jira.",
        "height": 360,
        "width": 680,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        720,
        -464
      ],
      "typeVersion": 1,
      "id": "a28b74df-ee45-4bff-bdb5-fbfb6b4fa0ff",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "### Called by Workflows:\n- Elastic AI — ES_Al_Case_Creation_Schaeduler_24h",
        "height": 220,
        "width": 300,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        -560
      ],
      "typeVersion": 1,
      "id": "8ba46fb3-0868-4fa2-9dda-348afb8b63cd",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "resource": "Issues",
        "operation": "Search Issues",
        "jql": "=project =  \"{{ $json.Project_Key }}\" AND issuetype = case AND status in (Open, Investigation, \"Waiting for customer\")  AND summary ~ \"{{ $('When Executed by Another Workflow').item.json['AI Analyze '].title }}\"",
        "maxResults": 10,
        "requestOptions": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "CUSTOM.Jira Service Management",
      "typeVersion": 1,
      "position": [
        -384,
        -128
      ],
      "id": "9834bfe4-60d7-4226-817b-736429d3fe91",
      "name": "Search For Existence  Case Issue",
      "credentials": {
        "jsmApi": {
          "id": "l597CchS20GYrsZ3",
          "name": "Jira Service Management Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Version Info:\n\n### Workflow: ES-Al-Case Creation-Jira\n### Workflow-Version: 1.0.4\n### Last Updated: 1404-10-20\n### Author: A&A\n### Change: Create for first time\n### Status: InActive",
        "height": 300,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        -880
      ],
      "typeVersion": 1,
      "id": "cc9d045f-fc3d-40c0-acf5-004ca4f1de74",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "// === READ VARIABLES ===\nconst esMultiJira = String($vars.ES_MultiJiraProject).toLowerCase() === \"true\";\nconst esMultiZone = String($vars.ES_MultiZone).toLowerCase() === \"true\";\nconst jiraProjectKey = $vars.JIRA_Project_Key_Field;\n\n// === READ NAMESPACE FROM NEW INPUT ===\nlet namespace;\n\ntry {\n  namespace = $input.first().json?.['Namespace Category'] || null;\n} catch (err) {\n  namespace = null;\n}\n\n// Default fallback\nif (!namespace) namespace = 'Unknown_Namespace';\n\n// === APPLY LOGIC ===\nlet Project_Key;\nlet Lable;\n\nif (esMultiJira === true) {\n  Project_Key = namespace;\n  Lable = namespace;\n} else if (esMultiZone === true) {\n  Project_Key = jiraProjectKey;\n  Lable = namespace;\n} else {\n  Project_Key = jiraProjectKey;\n  Lable = jiraProjectKey;\n}\n\n// === REPLACE \"default\" VALUES WITH JIRA PROJECT KEY ===\nif (String(Project_Key).toLowerCase() === \"default\") {\n  Project_Key = jiraProjectKey;\n}\n\nif (String(Lable).toLowerCase() === \"default\") {\n  Lable = jiraProjectKey;\n}\n\n// === DEBUG LOGS ===\nconsole.log('ES_MultiJiraProject:', esMultiJira);\nconsole.log('ES_MultiZone:', esMultiZone);\nconsole.log('Namespace:', namespace);\nconsole.log('Project_Key:', Project_Key);\nconsole.log('Lable:', Lable);\n\n// === RETURN OUTPUT ===\nreturn [\n  {\n    json: {\n      Project_Key,\n      Lable,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        -128
      ],
      "id": "3fe16f3d-4f07-4858-a321-1f11c128bcbd",
      "name": "Check for Multi Jira Project"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Check for Multi Jira Project",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Create Case ",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Comment to exist Case",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Case ": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Search For Existence Alerts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search For Existence Alerts": {
      "main": [
        [
          {
            "node": "Jira Service Management",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Jira Service Management": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search For Existence  Case Issue": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Multi Jira Project": {
      "main": [
        [
          {
            "node": "Search For Existence  Case Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "triggerCount": 0,
  "versionId": "60efff56-ebdd-4f08-803f-2b4f43dc029e",
  "owner": {
    "type": "team",
    "teamId": "9nwWznMeAvCQHglB",
    "teamName": "ES"
  },
  "parentFolderId": null,
  "isArchived": false
}