roles/import_n8n_files/files/workflows/GtkJlH7GuV5wtIH0.json
{
  "id": "GtkJlH7GuV5wtIH0",
  "name": "SP-AI-Alert-Related Alerts-AI analysis",
  "nodes": [
    {
      "parameters": {
        "url": "={{$vars.SA_API_Base_URL}}/api/v1/ai/prime_alert",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "= Bearer  {{ $('Called by SP-AI-Alert-Related Alerts').item.json['Access Token'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"alert\": [{{ $json.OriginalRule.toJsonString() }}],\n    \"related_alerts\": {{ $json[' Get Prioritized Related Alerts'].toJsonString() }},\n    \"device\":\"Splunk\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        672,
        304
      ],
      "id": "4f2adce2-b80d-462c-844e-5e6ce2b44cb3",
      "name": "AI analysis(primary alert)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "07ecbbb7-f605-4ed3-90fa-d67d42ca2d57",
              "name": "First AI Result",
              "value": "={{ $('AI analysis(primary alert)').first().json.data }}",
              "type": "array"
            },
            {
              "id": "1fe577e6-a5e1-4d36-94b1-588950c00a0b",
              "name": "Alert Timestamp",
              "value": "={{ $('Called by SP-AI-Alert-Related Alerts').first().json.OriginalRule[0].json.latest_doc.hits.hits[0]._source['@timestamp'] }}",
              "type": "string"
            },
            {
              "id": "66f45d26-1a18-46df-8b76-fcb5a4d353bb",
              "name": "Create TimeLine",
              "value": "={{ $('Called by SP-AI-Alert-Related Alerts').first().json['Create TimeLine'] }}",
              "type": "object"
            },
            {
              "id": "41d3d3a2-1f4b-49a5-a63a-90c3fb63e8dc",
              "name": "EI IP result",
              "value": "={{ $('Check for existence').first().json.eiIpResult }}",
              "type": "string"
            },
            {
              "id": "d69b1993-2067-4aad-ac74-f79bdc92115d",
              "name": "TI IP result",
              "value": "={{ $('Check for existence').first().json.tiIpResult }}",
              "type": "string"
            },
            {
              "id": "a31c481a-88ff-442f-ad54-45c988cc899e",
              "name": "EI Process result",
              "value": "={{ $('Check for existence').first().json.eiProcessResult }}",
              "type": "string"
            },
            {
              "id": "9b6ba50d-a1e8-46c4-ab7c-35677982ae3c",
              "name": "TimeLine ID",
              "value": "={{ $('Called by SP-AI-Alert-Related Alerts').first().json['TimeLine ID'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3584,
        288
      ],
      "id": "737a3831-1004-4dbd-bb42-41d40d684b4e",
      "name": "Collect Required Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d3cc17f2-b4b0-4a01-80e6-6be20329688f",
              "leftValue": "={{ $json.data[0].extraEvidence }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "d9798321-64ca-469c-903a-57a298b82942",
              "leftValue": "={{ $json.data[0].extraEvidence }}",
              "rightValue": "None",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "7ac6ad1d-9699-4e3c-a04a-e7fcad1c2d40",
              "leftValue": "={{ $json.data[0].extraEvidence }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        912,
        304
      ],
      "id": "52f6dc1a-480e-42dc-a3c5-d6805d390dfb",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// Get the input value from the previous node\nconst input = $input.first().json.data[0].extraEvidence;\n\n// Remove the \"Extra Evidences:\" part from the input\nconst cleanedInput = input.replace(/Extra Evidences?:\\s*/, '');\n\n// Regular expression to match key-value pairs\nconst regex = /(\\w+):\\s([^,]+)/g;\nlet matches;\nlet result = {};\n\n// Function to validate IPv4 format\nfunction isValidIP(ip) {\n  const parts = ip.trim().split('.');\n  if (parts.length !== 4) return false;\n  return parts.every(part => {\n    const n = Number(part);\n    return /^\\d+$/.test(part) && n >= 0 && n <= 255;\n  });\n}\n\nwhile ((matches = regex.exec(cleanedInput)) !== null) {\n  const key = matches[1].toLowerCase();\n  let value = matches[2].trim();\n\n  // Remove parentheses and their content\n  value = value.replace(/\\s*\\(.*?\\)\\s*/, '').trim();\n\n  // If the value is empty after cleaning, skip it\n  if (!value) continue;\n\n  // If key is 'ip', validate the value\n  if (key === 'ip' && !isValidIP(value)) {\n    continue; // Skip this entry if IP is invalid\n  }\n\n  if (!result[key]) {\n    result[key] = [];\n  }\n\n  result[key].push(value);\n}\n\n// Remove any keys that have only empty or null arrays (just in case)\nfor (const key in result) {\n  if (!result[key].length || result[key].every(v => !v.trim())) {\n    delete result[key];\n  }\n}\n\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        992
      ],
      "id": "c12c9e65-9c94-4996-b166-be38a3b3631f",
      "name": "Seprate Extra Evidences"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.ip }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "44927994-377a-4cbe-ac3f-ba9998912b4d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "IP"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b4188cd0-fde0-450c-88b8-fb6f786bbbbb",
                    "leftValue": "={{ $json.host }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Host"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "0808e582-f3df-46f1-8bf2-b7acea8854ec",
                    "leftValue": "={{ $json.process }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Process"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1312,
        992
      ],
      "id": "25453b51-5024-4a39-bd11-a9c8e5de3b75",
      "name": "Switch",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "100e2a45-c348-4031-9ce3-5e469673f290",
              "name": "ip",
              "value": "={{ $json.ip }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1568,
        688
      ],
      "id": "b168970a-8308-420b-b974-99bb3dc2188e",
      "name": "IP"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d84cacdf-829a-441d-955e-13c3653a62b3",
              "name": "process",
              "value": "={{ $json.process }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1600,
        1328
      ],
      "id": "8cf37cf4-c77f-431d-af67-1b9c76cbc1b5",
      "name": "process"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "157e49a7-40d8-4b0a-beb4-322b9d025a47",
              "name": "host",
              "value": "={{ $json.host }}",
              "type": "array"
            },
            {
              "id": "af3e9c2a-33a5-4cd4-b690-8e6673f0a77b",
              "name": "Access Token",
              "value": "={{ $('Called by SP-AI-Alert-Related Alerts').first().json['Access Token'] }}",
              "type": "string"
            },
            {
              "id": "55ed47fb-1b58-48ac-8400-38d0c2521a20",
              "name": "Summery",
              "value": "={{ $('AI analysis(primary alert)').first().json.data[0].detailsMarkdown }}",
              "type": "string"
            },
            {
              "id": "960fdfda-848d-4406-98f3-7da8b3afd894",
              "name": "Original Rule",
              "value": "={{ $('Called by SP-AI-Alert-Related Alerts').first().json.OriginalRule }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2064,
        992
      ],
      "id": "55d41d9b-27c9-4eed-9b3d-a6c7a17083d1",
      "name": "Host"
    },
    {
      "parameters": {
        "jsCode": "// Get the array of IPs from the input\nconst ips = $input.first().json.ip;\n\n// Function to determine if an IP is public\nfunction isPublicIp(ip) {\n  const privateIpRanges = [\n    /^10\\./,\n    /^172\\.(1[6-9]|2[0-9]|3[0-1])\\./,\n    /^192\\.168\\./,\n    /^127\\./,\n    /^169\\.254\\./,\n  ];\n  return !privateIpRanges.some(range => range.test(ip));\n}\n\n// Separate IPs into public and private\nconst PublicIPs = [];\nconst PrivateIPs = [];\n\nfor (const ip of ips) {\n  if (isPublicIp(ip)) {\n    PublicIPs.push(ip);\n  } else {\n    PrivateIPs.push(ip);\n  }\n}\n\n// Return the result\nreturn [\n  {\n    json: {\n      PublicIPs,\n      PrivateIPs,\n    },\n  },\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1728,
        688
      ],
      "id": "99e97475-7352-4ee0-9a72-1dcc42a1ee41",
      "name": "Extract Public & Private IPs"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.PublicIPs }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "0feb9f7c-1148-4cce-a31d-0682f65f9f16"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Public IP"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5984806b-0fd5-4694-80b5-6d5f288f3284",
                    "leftValue": "={{ $json.PrivateIPs }}",
                    "rightValue": "",
                    "operator": {
                      "type": "array",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Private IP"
            }
          ]
        },
        "options": {
          "allMatchingOutputs": true
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1968,
        688
      ],
      "id": "6371b667-4c14-420a-bea8-e233cfccc2ca",
      "name": "Divided Public & Private IPs "
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9e1112f5-3aed-437e-80c6-40fc75463a65",
              "name": "PublicIPs",
              "value": "={{ $json.PublicIPs }}",
              "type": "array"
            },
            {
              "id": "502c8c28-0198-497f-8050-dc701a716a8c",
              "name": "Access Token",
              "value": "={{ $('Called by SP-AI-Alert-Related Alerts').first().json['Access Token'] }}",
              "type": "string"
            },
            {
              "id": "02ad0555-9d53-4608-9626-b9a880ff08b8",
              "name": "Original Rule",
              "value": "={{ $('Called by SP-AI-Alert-Related Alerts').first().json.OriginalRule }}",
              "type": "object"
            },
            {
              "id": "5cad53ed-7fc2-44cf-9901-8c4156aac423",
              "name": "Summery",
              "value": "={{ $('AI analysis(primary alert)').first().json.data[0].detailsMarkdown }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        544
      ],
      "id": "5b0336fe-518f-45d0-8912-eae0e4bbd27e",
      "name": "Public IP"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfe09a77-e7ab-46d0-92b8-80b29562975e",
              "name": "PrivateIPs",
              "value": "={{ $json.PrivateIPs }}",
              "type": "array"
            },
            {
              "id": "10511c69-3f9a-4d75-bf2c-4f2a4f46be40",
              "name": "Access Token",
              "value": "={{ $('Called by SP-AI-Alert-Related Alerts').first().json['Access Token'] }}\n",
              "type": "string"
            },
            {
              "id": "c5e7178b-52fd-468c-8ac6-6dea81b5750e",
              "name": "PublicIPs",
              "value": "={{ $json.PublicIPs }}",
              "type": "array"
            },
            {
              "id": "a7a93edc-838a-4e25-b7e0-0897dbb94a1d",
              "name": "Access Token",
              "value": "={{ $('Called by SP-AI-Alert-Related Alerts').first().json['Access Token'] }}",
              "type": "string"
            },
            {
              "id": "19d999a0-b8bd-4ca5-a52c-c34adadd6df6",
              "name": "Summery",
              "value": "={{ $('AI analysis(primary alert)').first().json.data[0].detailsMarkdown }}",
              "type": "string"
            },
            {
              "id": "1521b54b-9d72-4fe5-814a-96d552370f13",
              "name": "Original Rule",
              "value": "={{ $('Called by SP-AI-Alert-Related Alerts').first().json.OriginalRule }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2240,
        704
      ],
      "id": "e4da79ba-ef0d-4dcb-bd7c-8406589d83db",
      "name": "Private IP"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2528,
        912
      ],
      "id": "5cce4b5a-a34f-42b0-ba9c-359d497ccfba",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "157e49a7-40d8-4b0a-beb4-322b9d025a47",
              "name": "Process",
              "value": "={{ $json.data.process }}",
              "type": "object"
            },
            {
              "id": "af3e9c2a-33a5-4cd4-b690-8e6673f0a77b",
              "name": "Access Token",
              "value": "={{ $('Called by SP-AI-Alert-Related Alerts').first().json['Access Token'] }}",
              "type": "string"
            },
            {
              "id": "55ed47fb-1b58-48ac-8400-38d0c2521a20",
              "name": "Summery",
              "value": "={{ $('AI analysis(primary alert)').first().json.data[0].detailsMarkdown }}",
              "type": "string"
            },
            {
              "id": "960fdfda-848d-4406-98f3-7da8b3afd894",
              "name": "Original Rule",
              "value": "={{ $('Called by SP-AI-Alert-Related Alerts').first().json.OriginalRule }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2448,
        1344
      ],
      "id": "1de8a42b-abef-4c81-a1a4-31e2359f0f9f",
      "name": "Process"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3088,
        912
      ],
      "id": "3dbe4d06-5399-4ce2-a093-607ab7fe4a32",
      "name": "Merge3"
    },
    {
      "parameters": {
        "jsCode": "// Get all inputs\nconst input = $input.all();\n\n// Initialize an empty result object\nlet result = {};\n\n// Loop through all the input objects\ninput.forEach(item => {\n  // Check if \"EI IP result\" exists and add it to the result object\n  if (item.json['EI IP result'] !== undefined && item.json['EI IP result'] !== null) {\n    result.eiIpResult = item.json['EI IP result'];\n  }\n\n  // Check if \"EI Process result\" exists and add it to the result object\n  if (item.json['EI Process result'] !== undefined && item.json['EI Process result'] !== null) {\n    result.eiProcessResult = item.json['EI Process result'];\n  }\n\n  // Check if \"TI IP Result \" exists and add it to the result object\n  if (item.json['TI IP Result '] !== undefined && item.json['TI IP Result '] !== null) {\n    result.tiIpResult = item.json['TI IP Result '];\n  }\n});\n\n// Return the merged result as an object inside 'json'\nreturn [\n  {\n    json: result // Return the final result object\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3328,
        912
      ],
      "id": "162c0154-a809-4831-bd41-f3eaa281d00d",
      "name": "Check for existence"
    },
    {
      "parameters": {
        "url": "={{$vars.SA_API_Base_URL}}/api/v1/enrich_process",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "= Bearer  {{ $('Called by SP-AI-Alert-Related Alerts').first().json['Access Token'] }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"process\":{\"name\":\"{{ $json.process[0] }}\"}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1888,
        1328
      ],
      "id": "be9f7cd5-14e2-43a6-b4a8-8b522bf50bc3",
      "name": "Enrich Process"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d7c4704-1e7d-460c-87e5-588a6384feae",
              "leftValue": "={{ $json.data.process.result }}",
              "rightValue": "Not Found",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2160,
        1328
      ],
      "id": "b2c63420-b49f-4044-a063-5cde7c740cac",
      "name": "If2"
    },
    {
      "parameters": {
        "content": "## AI-Powered Primary Alert Processing and Formatting\nThis part of the workflow handles the processing of security alerts for AI analysis. It begins by receiving alerts triggered by an upstream workflow, then extracts and formats related alert data into a structured JSON array. The alerts’ reasons are cleaned for JSON compatibility. The original alert data is flattened and sanitized to ensure safe transmission. Finally, the formatted data is sent via HTTP request with authorization headers to an AI analysis API endpoint for further investigation. Conditional logic checks if additional evidence is present before proceeding.\n\n\n",
        "height": 440,
        "width": 840,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        112
      ],
      "typeVersion": 1,
      "id": "f17ad677-d08d-47d9-80a4-6bd2d10d7b12",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Conditional Routing Based on Presence of IP, Host, or Process Data\nThis workflow segment uses a Switch node to evaluate incoming data and route it into three distinct paths depending on which key fields are populated. It checks whether the arrays for `ip`, `host`, or `process` fields are not empty and outputs accordingly to the matching branch: \"IP\", \"Host\", or \"Process\". ",
        "height": 380,
        "width": 520,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        960,
        784
      ],
      "typeVersion": 1,
      "id": "9c34bf50-07be-44cd-8284-d1e0955d5120",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Process Enrichment and AI Summary Integration\nThis segment of the workflow extracts the process name related to an alert and sends it to an external enrichment API to gather additional context. It checks whether enrichment was successful (i.e., result is not \"Not Found\"). If successful, it prepares a structured set of variables—including enriched process details, access token, original detection rule, and AI-generated summary—and then triggers a sub-workflow named **\"Splunk AI — SP-AI-EI & AI Summery\"** to perform further analysis and summarization. ",
        "height": 400,
        "width": 1480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1504,
        1168
      ],
      "typeVersion": 1,
      "id": "a5c348a8-74ad-4d2d-9f36-bc70f7ef0510",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "## IP + Extract IPs:\nExtracts all IP addresses from the note and enriches them with metadata such as geolocation, type (internal/external), and role (source/destination). Produces a structured ip_info object to support threat context and correlation.",
        "height": 360,
        "width": 380,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1504,
        512
      ],
      "typeVersion": 1,
      "id": "b8c67b29-512a-4db5-8a52-68afcb772388",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "## Host Node\nExtracts various fields (host, Access Token, Summary, Original Rule) and assigns them accordingly.",
        "height": 260,
        "width": 320,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1952,
        880
      ],
      "typeVersion": 1,
      "id": "f106809b-d867-45fa-bd5f-3f9fc11a49b4",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "## Divided Public & Private IPs Node\nA switch node that checks if the separated IP arrays (Public and Private) are not empty, and categorizes them accordingly.",
        "height": 360,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1904,
        512
      ],
      "typeVersion": 1,
      "id": "8023c173-05d5-4335-8ea9-140ef01b3f26",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## IP Analysis Node\nThis node is responsible for analyzing both public and private IP addresses. It leverages a unified structure with consistent fields such as Access Token and Summary..",
        "height": 500,
        "width": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2160,
        368
      ],
      "typeVersion": 1,
      "id": "9d217c1d-f263-4e92-8681-6886be6077fa",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "## Called SP-AI-EI & AI Summery\nTriggers a sub-workflow that enriches alerts using Threat Intelligence (TI) data and generates a summarized analysis using AI",
        "height": 340,
        "width": 320,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2640,
        384
      ],
      "typeVersion": 1,
      "id": "50442095-89bd-4434-a619-3928d0e00617",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "content": "## AI Summary Execution for IP-Based Context\nThis part of the workflow merges relevant alert and IP data before invoking the **\"Splunk AI — SP-AI-EI & AI Summery\"**  workflow, specifically for IP-level analysis. It ensures the combined data is passed into the AI summarization engine to generate enriched insights based on IP-related threat indicators.",
        "height": 380,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2448,
        752
      ],
      "typeVersion": 1,
      "id": "a14c8119-2992-4f54-a7b0-239c11f81771",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## Normalize and Merge Threat Intelligence Results\nThis workflow section merges up to three parallel inputs containing threat intelligence results (related to IPs and processes) and filters out any undefined or null values. Using a custom code node, it checks the presence of `EI IP result`, `EI Process result`, and `TI IP Result`, and constructs a clean, unified JSON object for downstream use.",
        "height": 420,
        "width": 500
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3008,
        688
      ],
      "typeVersion": 1,
      "id": "8fa699f4-51d5-46ea-b45b-98b0a522e044",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "## Enrich & Forward AI Alert Details to Timeline Workflow\nThis part, gathers key data from a previously generated AI analysis (including IP and process threat intelligence, alert timestamp, and timeline creation objects) and prepares it for structured processing. It then calls a workflow (`SP-AI-Insert Timeline`) to insert a contextual note into the timeline based on enriched alert details.",
        "height": 340,
        "width": 720,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3440,
        144
      ],
      "typeVersion": 1,
      "id": "9619693c-1768-4419-8da5-05c3b69fca36",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "### Called by Workflows:\n- Splunk AI — SP_AI_Alert_Related_Alerts",
        "height": 220,
        "width": 280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        -144
      ],
      "typeVersion": 1,
      "id": "472c7932-27dd-4b42-9f2f-50bf7eba9b8f",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        368,
        304
      ],
      "id": "a7b32a6f-14da-4bca-9e2b-b8b76f6e7dd7",
      "name": "Called by SP-AI-Alert-Related Alerts"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Jrm5H4QsK8KZgi0W",
          "mode": "list",
          "cachedResultUrl": "/workflow/Jrm5H4QsK8KZgi0W",
          "cachedResultName": "SP — SP-AI-EI & AI Summery"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2768,
        912
      ],
      "id": "6af4c23c-6be7-4ea7-8c99-19c66deaa86e",
      "name": "Called SP-AI-EI & AI Summery(IP)",
      "executeOnce": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "iAdtPYDYJ3ndUvvM",
          "mode": "list",
          "cachedResultUrl": "/workflow/iAdtPYDYJ3ndUvvM",
          "cachedResultName": "SP — SP-AI-Insert Timeline"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        3872,
        288
      ],
      "id": "64e43260-1b17-40ef-b39e-44c04f2c2d84",
      "name": "Call SP-AI-Insert Timeline"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Jrm5H4QsK8KZgi0W",
          "mode": "list",
          "cachedResultUrl": "/workflow/Jrm5H4QsK8KZgi0W",
          "cachedResultName": "SP — SP-AI-EI & AI Summery"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2768,
        1344
      ],
      "id": "6c95386c-8404-42be-b5e3-067009cd894c",
      "name": "Called SP-AI-EI & AI Summery (Process)",
      "executeOnce": false
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "BnI4Ot5HmXhBkK8a",
          "mode": "list",
          "cachedResultUrl": "/workflow/BnI4Ot5HmXhBkK8a",
          "cachedResultName": "SP — SP-AI-TI & AI Summary"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2768,
        544
      ],
      "id": "10e13bab-c292-4808-994d-e0923efc5a57",
      "name": "Called- SP-AI-TI & AI Summary"
    },
    {
      "parameters": {
        "content": "# Version Info:\n\n### Workflow: SP-AI-Alert-Related Alerts-AI analysis\n### Workflow-Version: 1.0.1\n### Last Updated: 1404-10-20\n### Author: A&A\n### Change: Create for first time\n### Status: InActive",
        "height": 300,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        -464
      ],
      "typeVersion": 1,
      "id": "f48430a7-dd83-4e83-8e00-4b6ff3bca12d",
      "name": "Sticky Note6"
    }
  ],
  "connections": {
    "AI analysis(primary alert)": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Required Items": {
      "main": [
        [
          {
            "node": "Call SP-AI-Insert Timeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Collect Required Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Seprate Extra Evidences",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seprate Extra Evidences": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "IP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Host",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IP": {
      "main": [
        [
          {
            "node": "Extract Public & Private IPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "process": {
      "main": [
        [
          {
            "node": "Enrich Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Host": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Public & Private IPs": {
      "main": [
        [
          {
            "node": "Divided Public & Private IPs ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Divided Public & Private IPs ": {
      "main": [
        [
          {
            "node": "Public IP",
            "type": "main",
            "index": 0
          },
          {
            "node": "Private IP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Private IP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Public IP": {
      "main": [
        [
          {
            "node": "Called- SP-AI-TI & AI Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Private IP": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Called SP-AI-EI & AI Summery(IP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process": {
      "main": [
        [
          {
            "node": "Called SP-AI-EI & AI Summery (Process)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Check for existence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enrich Process": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [],
        [
          {
            "node": "Process",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for existence": {
      "main": [
        [
          {
            "node": "Collect Required Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Called by SP-AI-Alert-Related Alerts": {
      "main": [
        [
          {
            "node": "AI analysis(primary alert)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Called SP-AI-EI & AI Summery(IP)": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Called SP-AI-EI & AI Summery (Process)": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Called- SP-AI-TI & AI Summary": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "triggerCount": 0,
  "versionId": "fd00838c-4075-4f63-bf3d-340640271322",
  "owner": {
    "type": "team",
    "teamId": "VkJ1fWswpm3ZmsSH",
    "teamName": "SP"
  },
  "parentFolderId": null,
  "isArchived": false
}